{% extends "base_search.html" %}
{% block title %}NEMI Analyte Search with Greenness Profile{% endblock %}

{% block local_page_script %}
	<script src="{{ STATIC_URL }}script/analyte_select.js"></script>
{% endblock %}

{% block page_title %}Search All Methods By Analyte{% endblock %}

{% block search_box_body %}
	{% include "find_analyte_dialog.html" with analyte_value_id="analyte-search-value" %}
	<form id="search-form" action={% url search-analyte %} method="get">
		<table id="search-table">
			<tr>
					<th>Analyte (required):</th>
					<td style="white-space: nowrap;" id='kind-element'>{{ search_form.analyte_kind }}{{ search_form.analyte_value }}{{ search_form.analyte_value.errors }}
					<input id="find-analytes" 
						onclick="return showAnalyteDialog($('input:radio[name=analyte_kind]:checked').val(), $('#analyte-search-value').val())"
						 type="button" value="Find...">
					</td>
			</tr>
			<tr><th>{{ search_form.media_name.label_tag }}:</th><td>{{ search_form.media_name }}</td></tr>
			<tr><th>{{ search_form.source.label_tag }}:</th><td>{{ search_form.source }}</td></tr>
			<tr><th>{{ search_form.instrumentation.label_tag }}:</th><td>{{ search_form.instrumentation }}</td></tr>
			<tr><th>{{ search_form.method_subcategory.label_tag }}:</th><td>{{ search_form.method_subcategory }}</td></tr>
			<tr><th>{{ search_form.method_types.label_tag }}:</th><td>{{ search_form.method_types.errors }}{{ search_form.method_types }}</td></tr>
			<tr><td></td><td><input id="search-button" type="submit" value="Search NEMI"/></td></tr>				
		</table>
	</form>
{% endblock %}

{% block export_results %}
	{% if results %}
		<a class="popup"
			title="Download the results in Microsoft's proprietary Excel format."
			href={% url search-analyte_export_xls %}{{ query_string }}>Export results for Microsoft Excel
		</a>
		<br/>
		<a class="popup"
			title="Download the results as a tab-separated values format, which can be opened by any spreadsheet application." 
			href={% url search-analyte_export_tsv %}{{ query_string }}>Export results as a tab separated text file (can be opened in any text editor or spreadsheet)
		</a>
	{% endif %}
{% endblock %}

{% block results_table_data %}
	{% load data_format %} <!-- Imports decimal_format tag -->
	{% for r in results %}
		<tr>
			<td class="view-button"><a title="View method details" href="{% url search-method_summary r.m.method_id %}">View</a></td>
			<td>{{ r.m.source_method_identifier|safe }}</td>
			<td>{{ r.m.method_source }}</td>
			<td>{{ r.m.method_descriptive_name }}</td>						
			<td>
				{% if r.m.dl_value.normalize == 999 %}
					N/A
				{% else %}
					 {{ r.m.dl_value|decimal_format }} <span class="abbrev" title="{{ r.m.dl_units_description }}">{{ r.m.dl_units }}</span>
				{% endif %}
			</td>
			<td><span class="abbrev" title="{{ r.m.dl_type_description }}">{{ r.m.dl_type }}</span></td>
			<td>
				{% if r.m.accuracy.normalize == -999 %}
					N/A
				{% else %}
					{{ r.m.accuracy|decimal_format }} <span class="abbrev" title="{{ r.m.accuracy_units_description }}">{{ r.m.accuracy_units }}</span>
				{% endif %}
			</td>
			<td>
				{% if r.m.precision.normalize == 999 %}
					N/A
				{% else %}
					{{ r.m.precision|decimal_format }} <span class="abbrev" title="{{ r.m.precision_units_description }}">{{ r.m.precision_units }}</span>
				{% endif %}
			</td>
			<td>
				{% if r.m.prec_acc_conc_used %}
					{{ r.m.prec_acc_conc_used|decimal_format }} <span class="abbrev" title="{{ r.m.dl_units_description }}">{{ r.m.dl_units }}</span>
				{% endif %}
			</td>
			<td><span class="abbrev" title="{{ r.m.instrumentation_description }}">{{ r.m.instrumentation }}</span></td>
			<td><span class="abbrev" title="{{ r.m.relative_cost }}">{{ r.m.relative_cost_symbol }}</span></td>
			<td>{% include "greenness_profile.html" %}</td>
		</tr>
	{% endfor %}
{% endblock %}

	