{% extends "base_method_summary.html" %}

{% block title %}NEMI Biological Method Summary{% endblock %}

{% block summary_info %}
	{% if data %}
		<table class="info-table">
			<tr>
				<th>Method Information</th>
				<td><b>Descriptive Name: </b>{{ data.method_descriptive_name }}<br/>
					<b>Official Name: </b>{{ data.method_official_name|safe }}<br/>
					<b>Method Number: </b>{{ data.source_method_identifier|safe }}<br/>
					<b>Revision: </b>{{ data.revision_information }}
				</td>
			</tr>
			<tr>
				{% include "field_def.html" with field=field_defs.MEDIA_NAME %}
				<td>{{ data.media_name }}</td>
			</tr>
			<tr>
				{% include "field_def.html" with field=field_defs.METHOD_SUBCATEGORY %}
				<td>{{ data.method_subcategory }}</td>
			</tr>
			<tr><th>Method Type</th><td>{{ data.method_type_desc }}</td></tr>
			<tr>
				{% include "field_def.html" with field=field_defs.TARGET_ORGANISM %}
				<td>
					<div class="inside-list">
						{% for d in analyte_data %}
							{% include "analyte_synonyms.html" with analyte_name=d.r.analyte_name syn=d.syn %}
						{% endfor %}
					</div>			
				</td>
			</tr>			
			<tr>
				{% include "field_def.html" with field=field_defs.BRIEF_METHOD_SUMMARY %}
				<td>{{ data.brief_method_summary|safe }}</td>
			</tr>
			<tr>
				{% include "field_def.html" with field=field_defs.SCOPE_AND_APPLICATION %}
				<td>{{ data.scope_and_application|safe }}</td>
			</tr>
			<tr>
				{% include "field_def.html" with field=field_defs.RELATIVE_COST %}
				<td>{{ data.relative_cost }}</td>
			</tr>
			<tr>
				{% include "field_def.html" with field=field_defs.INTERFERENCES %}
				<td>{{ data.interferences|safe }}</td>
			</tr>
			<tr>
				{% include "field_def.html" with field=field_defs.QC_REQUIREMENTS %}
				<td>{{ data.qc_requirements|safe }}</td></tr>
			<tr>
				{% include "field_def.html" with field=field_defs.SAMPLE_HANDLING %}
				<td>{{ data.sample_handling|safe }}</td>
			</tr>
			<tr>
				{% include "field_def.html" with field=field_defs.MAX_HOLDING_TIME %}
				<td>{{ data.max_holding_time }}</td>
			</tr>
			<tr>
				{% include "field_def.html" with field=field_defs.METHOD_DOWNLOAD %}
				<td>{% include "method_download.html" %}</td>
			</tr>
			<tr>
				{% include "field_def.html" with field=field_defs.METHOD_SOURCE %}
				<td>{{ data.method_source_contact|safe }}</td>
			</tr>
			<tr>
				{% include "field_def.html" with field=field_defs.CITATION %}
				<td>{{ data.source_citation_name }}</td>
			</tr>
		</table>
	{% endif %}
{% endblock %}