{% extends "base.html" %}
{% block title %}NEMI Source Citation Information{% endblock %}
{% block content %}
	<h2>Citation Information</h2>
	<table class="info-table">
		<tr><th>Method Number</th><td>{{ data.source_method_identifier|safe }}</td></tr>
		<tr><th>Method Official Name</th><td>{{ data.method_official_name }}</td></tr>
		<tr><th>Citation Name</th><td>{{ data.source_citation_name }}</td></tr>
		<tr><th>Citation Information</th><td> {{ data.source_citation_information }}</td></tr>
	</table>
{% endblock %}