{% extends "base.html" %}
{% block title %}Create New Statistical Source{% endblock %}
{% block content %}
	<h3><i>Enter information to create a statistical method</i></h3>
	<form action="{% url search-create_statistical_source %}" method="post">{% csrf_token %}
		<p> {{ form.non_field_errors }} </p>
		<table id="data-entry-table">
			{% for field in form  %}
				<tr>
					<th>{{ field.label_tag }}:<th>
					<td>{{ field }}</td>
					<td>{{ field.errors }}</td>
				</tr>
			{% endfor %}
		</table>	
		<input type="submit" value="Create Citation"/>
	</form>

{% endblock %}