{% extends "base.html" %}
{% block title %}Create New Statistical Source{% endblock %}
{% block content %}
	<h3><i>Enter information to create a statistical method</i></h3>
	<p>A '*' by a field's label indicates the field is required.</p>
	<br/>
	<p><b>Username:&nbsp;</b>{{ user.get_full_name }} - {{ user.username }}</p>
	<form action="{% url search-create_statistical_source %}" method="post">{% csrf_token %}
		{% include "stats_entry_table.html" %}
		<input type="submit" value="Create Citation"/>
	</form>

{% endblock %}