{% extends "base.html" %}
{% block title %}Find analyte by {{ kind }}{% endblock %}
{% block page_script %}
	<script type="text/javascript">
	$(document).ready(function(){
		$('#values-list').change(function(){
			/* Get the analyte value and put in parent window */
			var selection = $(this).find("option:selected").text();
			$('#analyte-search-value', window.opener.document).val(selection);
			
			window.close();
		})
		$(window).unload(function(){
			/* reenable the form on the parent page */
			$('#search-form input', window.opener.document).attr("disabled", false);			
		})
	})
	</script>
{% endblock %}
{% block page_style %}
<style>
	#analyte-values-list input:{
		max-width: 200px;
	}
</style>
{% endblock %}
{% block content %}
	<p>Enter a few characters of the analyte {{ kind }}, click Find, and then select one of the values in the list<p>
	<form id="search-box-body" action={% url search-analyte_select %} method="get">{% csrf_token %}
		<p>{{ select_form.selection }} 
			<input id="search-button" type="submit" value="Find matches">
		</p>
		{% if select_form.values_list.field.choices %}
			<p id="analyte-values-list">{{ select_form.values_list }}</p>
		{% else %}
			<p>No matches</p>
		{% endif %}
		<p>{{ select_form.kind }}</p>
	</form>
{% endblock %}