{% extends "base_search.html" %}

{% block title %}NEMI General Search w/ Greenness Profile{% endblock %}

{% block page_title %}Search All Methods By Criteria {% endblock %}

{% block search_box_body %}
	<p>Select one or more criteria from the right and press 'Search NEMI' to perform a search.</p>
	<p><i>If you are looking for a method for a specific analyte, please use the Analyte Search.</i></p>
	<form id="search-form" action="{% url search-general %}" method="get">
		<h4> {{ search_form.non_field_errors }} </h4>
		<table id="search-table">
			{{ search_form }}
			<tr><td></td><td><input id="search-button" type="submit" value="Search NEMI"/></td></tr>
		</table>			
	</form>
{% endblock %}

{% block export_results %}
	{% if results %}
		<a class="popup"
			title="Download the results in Microsoft's proprietary Excel format."
			href={% url search-general_export_xls %}{{ query_string }}>Export results for Microsoft Excel
		</a>
		<br/>
		<a class="popup"
			title="Download the results as a tab-separated values format, which can be opened by any spreadsheet application." 
			href={% url search-general_export_tsv %}{{ query_string }}>Export results as a tab separated text file (can be opened in any text editor or spreadsheet)
		</a>
	{% endif %}
{% endblock %}

{% block results_table_data %}
	{% for r in results %}
		<tr>
  			<td><a class="popup" title="Method details (in a new tab)" target="_blank" href="{% url search-method_summary r.m.method_id %}">{{ r.m.source_method_identifier|safe }}</a></td>
			<td>{{ r.m.method_descriptive_name }}</td>
			<td>{{ r.m.media_name|lower|capfirst }}</td>
			<td>{{ r.m.method_source }}</td>
			<td>{{ r.m.instrumentation_description }}</td>
			<td>{{ r.m.method_category|lower|capfirst }}</td>
			<td>{{ r.m.method_subcategory }}</td>
			<td>{{ r.m.method_type_desc }}</td>
			<td>{% include "greenness_profile.html" %}</td>
		</tr>
	{% endfor %}
{% endblock %}
