{% extends "base.html" %}
{% block title %}Greenness Profile Summary Developed by the Green Chemistry Institute{% endblock %}
{% block content %}
	<p> 
		<img src="{{ STATIC_URL }}images/GCI_icon.jpg"><b>Greenness Profile information developed in cooperation with the Green Chemistry Institute</b>
	</p>
	<table id="green-table">
		<tr><th>Method Number</th><td>{{ data.source_method_identifier|safe }}</td></tr>
		<tr><th>PBT</th><td>{{ data.pbt_greenness }}</td></tr>
		<tr><th>Corrosive</th><td>{{ data.corrosive_greenness }}</td></tr>
		<tr><th>Hazardous</th><td>{{ data.hazardous_greenness }}</td></tr>
		<tr><th>Waste Amt</th><td>{{ data.waste_amt_greenness }}</td></tr>
		<tr><th>Assumptions/Comments</th><td>{{ data.assumptions_comments }}</td></tr>
	</table>
	<hr/>
	<p>N.S. -- not specified<br/>N.A. -- not applicable</p>
{% endblock %}	
