{% extends "base.html" %}
{% block title %}NEMI Header Definition Popup{% endblock %}
{% block page_script %}
	<script type="text/javascript">
		$(document).ready(function(){
			// Function finds any 'src' attributes in the description class img tag and prepends {{ STATIC_URL }} 
			//  Used when retrieving data from a template variable which may contain html. 
			$(".description img").each(function(){
				var src = $(this).attr("src");
				$(this).attr("src", "{{ STATIC_URL }}" + src);
			});
		});
	</script>
{% endblock %}
{% block content %}
	{% if data %}
		<h3>{{ data.definition_name }}:</h3>
		<div class="description">{{ data.definition_description|safe }}</div>
	{% else %}
		<p>No definition available</p>
	{% endif %}
{% endblock %}