{% load data_format %}
<div class="show-hide-detail-div">
	<button class="show-hide-toggle" title="Show detail" type="button">
		<img src="{{ STATIC_URL }}/images/triangle-right-image36.gif" alt="show"/>
	</button>
	{{ r.method_source }}
	<div class="hidden-details-div" style="display: none;">
		<table class="inside-table">
			<tr><th>Contact Information:</th><td>{{ r.method_source_contact|safe }}</td></tr>
			<tr>
				<th>URL:</th>
				<td><span class="external-link">{{ r.method_source_url|clickable_links }}</span></td></tr>
		</table>
	</div> 
</div>