{% extends "base_search.html" %}
{% block title %}NEMI Physical Methods{% endblock %}
{% block search_box_body %}
	<form action="{% url search-physical %}" method="get"> {% csrf_token %}
		<h4> {{search_form.non_field_errors }} </h4>
		<table id="search-table">
		{{ search_form }}
		<tr><td></td><td><input id="search-button" type="submit" value="Search NEMI"/></td></tr>
		</table>			
	</form>
{% endblock %}
{% block results_table_data %}
	{% for r in results %}
		<tr>
			<td><a class="popup" title="Method details (in a new tab)" target="_blank" href="{% url search-method_summary r.method_id %}">{{ r.source_method_identifier|safe }}</a></td>
			<td>{{ r.method_descriptive_name }}</td>
			<td>{% include "method_source_details.html" %}
			</td>
			<td>{{ r.media_name }}</td>
			<td>{{ r.instrumentation_description }}</td>
		</tr>
	{% endfor %}
{% endblock %}			
		