{% extends "base_search.html" %}

{% block title %}NEMI Statistical Method Search{% endblock %}

{% block page_title %}Statistical Methods And Assements Search{% endblock %}

{% block search_box_body %}
	<p>Select criteria from the drop down menus below and press 'Search NEMI' to perform a search.</p>
	<form action="{% url search-statistics %}" method="get"> 
 		<h4> {{search_form.non_field_errors }} </h4>
		<table id="search-table">
			{% for f in search_form %}
				<tr><th><label for="id_{{ f.html_name }}" title="{{ f.help_text }}">
					{% if f.label|last == "?" %}
						{{ f.label }}
					{% else %}
						{{ f.label }}:
					{% endif %}	
					</label></th><td>{{ f }}</td></tr>
			{% endfor %}
			<tr><td></td><td><input id="search-button" type="submit" value="Search NEMI"/></td></tr>
		</table>
	</form>
{% endblock %}

<!-- Statistical method report does not have header information dialogs -->
{% block header_information_dialog %} {% endblock %}

{% block results_table_header %}
	<th class="nosort"></th> 
	<th>Author</th>
    <th>Title</th>
	<th>Source Organization</th>
	<th>Link</th>	
	<th>Country</th>
{% endblock %}

{% block results_table_data %}
	{% for r in results %}
		<tr>
			<td><a title="View source details" href={%url search-statistical_source_summary r.source_citation_id %}>View</a></td> 
			<td>{{ r.author }}</td>
  			<td>{{ r.title }}</td>
			<td>{{ r.source_organization }}</td>
			<td><a href={{ r.link }} target="_blank">{{ r.link }}</a></td>
			<td>{{ r.country }}</td>
		</tr>
	{% endfor %}
{% endblock %}