{% extends "base_search.html" %}

{% block title %}NEMI Statistical Method Search{% endblock %}

{% block header %}
	{{ block.super }}
	{% include "stat_page_header.html" %}
{% endblock %}

{% block sidebar_nav %} {% endblock %}

{% block search_box_body %}
	<p>Select one or more criteria from the right and press 'Search NEMI' to perform a search.</p>
	<form action="{% url search-statistics %}" method="get"> {% csrf_token %}
 		<h4> {{search_form.non_field_errors }} </h4>
		<table id="search-table">
			{% for f in search_form %}
				<tr><th><label for="id_{{ f.html_name }}" title="{{ f.help_text }}">{{ f.label }}:</label></th><td>{{ f }}</td></tr>
			{% endfor %}
			<tr><td></td><td><input id="search-button" type="submit" value="Search NEMI"/></td></tr>
		</table>
	</form>
{% endblock %}

<!-- Statistical method report does not have header information dialogs -->
{% block header_information_dialog %} {% endblock %}

{% block results_table_header %}
	<th class="nosort"></th> 
	<th>Title</th>
	<th>Source Organization</th>
	<th>Country</th>
	<th>Author</th>
	<th>Source Citation</th>
	<th>Link</th>
	<th>Notes</th>
{% endblock %}

{% block results_table_data %}
	{% for r in results %}
		<tr>
			<td><a title="View source details" href={%url search-statistical_source_summary r.source_citation_id %}>View</a></td> 
  			<td>{{ r.title }}</td>
			<td>{{ r.source_organization }}</td>
			<td>{{ r.country }}</td>
			<td>{{ r.author }}</td>
			<td>{{ r.source_citation }}</td>
			<td><a href={{ r.link }}>{{ r.link }}</a></td>
			<td>{{ r.notes }}</td>
		</tr>
	{% endfor %}
{% endblock %}