{% if form.errors %}
	<p class="errorlist"><b>Need to correct errors and resubmit</b></p>
{% endif %}
<p class="errorlist"> {{ form.non_field_errors }} </p>
<table id="data-entry-table">
	{% for field in form  %}
		<tr>
			<th><label for="id_{{ field.html_name }}" title="{{ field.help_text }}">
			{% if field.field.required %}
				{{ field.label_tag }}*:
			{% else %}
				{{ field.label_tag }}:
			{% endif %}
			</label></th>
			<td>{{ field }}</td>
			<td>{{ field.errors }}</td>
		</tr>
	{% endfor %}
</table>	