<!--  
Designed to be included within other templates and creates a div designed to show synonym information for an analyte.
Uses template variables analyte_name and analyte_code which are of type string and syn which is a list of strings
 -->

<div class="show-hide-detail-div">
	<button class="show-hide-toggle" title="Show detail" type="button">
		<img src="{{ STATIC_URL }}images/expand_summary.png" alt="show"/>
	</button>
	<b>{{ analyte_name }}{% if analyte_code %}({{analyte_code}})</b>{% endif %}
	<div class="hidden-details-div" style="display: none;">
		<ul>
			{% for s in syn %}
				<li>{{ s }}</li>
			{% endfor %}
		</ul>
	</div>
</div>