<!-- 
Template is designed to be included in other templates and creates a table header element for fields with descriptions to be shown in popups.
Contains template variable field which is a dictionary object containing keys 'name' and 'description'
 -->
<div class="header-label">{{ help.label }}</div>
{% if help.description %}
	<div class="help-button">
		<a title="Click to display definition"
		   		href="javascript:HelpDialog.show('{{ help.label }}', '{{ help.description|escapejs }}', this)">
				<img src="{{ STATIC_URL }}images/question_marks_results.png"/>
		</a>
	</div>
{% endif %}
	