<!-- 
Template can be included to show method source details with the detail visibility controlled by a button
 -->

{% load data_format %}
<div class="show-hide-detail-div">
	<button class="show-hide-toggle" title="Show details" type="button">
		<img src="{{ STATIC_URL }}images/expand_summary.png" alt="show"/>
	</button>
	&nbsp;&nbsp;{{ r.method_source }}
	<div class="hidden-details-div" style="display: none;">
		<table class="inside-table">
			<tr><th>Contact Information:</th><td>{{ r.method_source_contact|safe }}</td></tr>
			<tr>
				<th>URL:</th>
				<td><span class="external-link">{{ r.method_source_url|clickable_links }}</span></td></tr>
		</table>
	</div> 
</div>