{% extends "methods/base_results.html" %}

{% block title %}NEMI Browse Methods{% endblock %}

{% block page_script %}
	{{ block.super }}
	<script type="text/javascript">
		$(document).ready(function(){
			// Set up the show/hide button for method categories 
			$(".method-category-div").each(function(){
				var subcatDiv = $(this).find(".method-subcategory-div");
				$(this).find('.category-button').click(function(){
					var catImgEl = $(this).find('img');
					if (catImgEl.attr('alt') == 'show') {
						catImgEl.attr('src', "{{ STATIC_URL }}/images/collapse.png");
						catImgEl.attr('alt', 'hide');
						catImgEl.attr('title', 'Hide subcategories');
						subcatDiv.show();
					}
					else{
						catImgEl.attr('src', "{{ STATIC_URL }}/images/expand.png");
						catImgEl.attr('alt', 'show');
						catImgEl.attr('title', 'Show subcategories');
						subcatDiv.hide();
					}
					sessionStorage[$(this).attr('id')] = catImgEl.attr('alt');
				});
				
			});
			// Set up the show/hide/ button for method subcategories 
			$(".method-subcategory-div").each(function(){
				var tableEl = $(this).find(".results-table");
				$(this).find('.subcategory-button').click(function(){
					var imgEl = $(this).find('img');
					if (imgEl.attr('alt') == 'show') {
						imgEl.attr('src', "{{ STATIC_URL }}/images/collapse.png");
						imgEl.attr('alt', 'hide');
						imgEl.attr('title', 'Hide methods');
						
						// After showing the table trigger and update to force the styling for zebra rows to activate.
						// This styling doesn't show when the table is not initially visible. 
						tableEl.show();
						tableEl.trigger('update', [true]);
					}
					else{
						imgEl.attr('src', "{{ STATIC_URL }}/images/expand.png");
						imgEl.attr('alt', 'show');
						imgEl.attr('title', 'Show methods');
						tableEl.hide();
					}
					sessionStorage[$(this).attr('id')] = imgEl.attr('alt');
				});
			});
			// Set show/hide button for method details 
			$(".show-hide-detail-div").each(function(){
				var detailsDiv = $(this).find(".hidden-details-div");
				$(this).find('button').click(function(){
					var detailsImgEl = $(this).find('img');
					if (detailsImgEl.attr('alt') == 'show') {
						detailsImgEl.attr('src', "{{ STATIC_URL }}/images/collapse.png");
						detailsImgEl.attr('alt', 'hide');
						detailsImgEl.attr('title', 'Hide details');
						detailsDiv.show();
					}
					else{
						detailsImgEl.attr('src', "{{ STATIC_URL }}/images/expand.png");
						detailsImgEl.attr('alt', 'show');
						detailsImgEl.attr('title', 'Show details');
						detailsDiv.hide();
					}						
				});
			});
			
			// Initialize state of visible elements.
			if (sessionStorage.clearBrowsePage == 'true') {
				//All divs will remain hidden but set the storage variables to 'show'
				$('.category-button').each(function() {
					sessionStorage[$(this).attr('id')] = 'show';
				});
				$('.subcategory-button').each(function() {
					sessionStorage[$(this).attr('id')] = 'show';
				});
			}
			else {
				$('.category-button').each(function() {
					if (sessionStorage[$(this).attr('id')] == 'hide') {
						// Need to make the category visible so send a click event
						$(this).click();
					}
				});
				$('.subcategory-button').each(function() {
					if (sessionStorage[$(this).attr('id')] == 'hide') {
						// Need to make the category visible so send a click event 
						$(this).click();
					}
				});
			}
			sessionStorage.clearBrowsePage = 'false';
		});
	</script>
{% endblock %}

{% block page_specific_info %}
	<span style="font-size: medium">NEMI contains {{ object_list|length }} methods, protocols, and procedures.</span>
{% endblock %}

{% block top_results_actions %}{% endblock %}

{% block customize_dialog %}{% endblock %}

{% block top_results_header_info %}
    NEMI contains {{ object_list|length }} methods, protocols, and procedures.
{% endblock %}
 
{% block top_results_header_actions %}{% endblock %}

{% block results_content %}
	{% load data_format %}
	{% regroup object_list by method_category as objects_by_category %}
	{% for by_category in objects_by_category %}
		<div class="method-category-div">
			<h3><button id="category-{{ by_category.grouper }}" class="show-hide-toggle category-button" title="Show subcategories" type="button"><img src="{{ STATIC_URL }}images/expand.png" alt="show" /></button>&nbsp;{{ by_category.grouper|lower|capfirst }} - {{ by_category.list|length}} methods</h3>
			{% regroup by_category.list by method_subcategory as objects_by_subcategory %}
			{% for by_subcategory in objects_by_subcategory %}
				<div class="method-subcategory-div" style="display: none;">
					<h4><button id="subcategory-{{ by_subcategory.grouper }}" class="show-hide-toggle subcategory-button" title="Show methods" type="button"><img src="{{ STATIC_URL }}images/expand.png" alt="show" /></button>&nbsp;{{ by_subcategory.grouper }} - {{ by_subcategory.list|length }} methods</h4>				
					<table id="browse-results-table" class="results-table" data-sortlist="[[0,0]]" style="display: none;">
						<thead>
							<tr>
								<th class="sorter-text">Method Id</th>
								<th>Method Descriptive Name</th>
								<th>Method Source</th>
							</tr>
						</thead>
						<tbody>
							{% for object in by_subcategory.list %}
								<tr>
									<td><a title="View method details"
										{% if by_category.grouper == 'STATISTICAL' %}
											href="{% url 'methods-sam_method_summary' object.method_id %}"
										{% else %}
											href="{% url 'methods-method_summary' object.method_id %}"
										{% endif %}
									>{{ object.source_method_identifier|safe }}</a></td>
									<td>{{ object.method_descriptive_name }}</td>
									<td>{% include "methods/_method_source_details.html" with r=object %}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endblock %}

{% block bottom_results_header_info %}
    NEMI contains {{ object_list|length }} methods, protocols, and procedures.
{% endblock %}

{% block bottom_results_header_actions %}{% endblock %}

 
{% block bottom_results_actions %}{% endblock %}