{% extends "base.html" %}

{% load helpcontent %}

{% block title %}NEMI Method Summary - {{ method.details.source_method_identifier|safe }}{% endblock %}

{% block page_description %}{{ method.details.method_official_name }}{% endblock %}

{% block page_script %}
	<script src="{{ STATIC_URL }}script/jquery-ui/jquery-ui-1.10.0.custom.js"></script>
	<script src="{{ STATIC_URL }}script/HelpDialog.js"></script>
	
	<script type="text/javascript">
	    function openWindow(url, event_category, event_action) {
            if ((event_category) && (event_action)) {
                trackGAEvent(event_category, event_action, url);
            }
            
	        window.open(url);
	        return false;
	    };
	
		$(document).ready(function(){
			// Make wqp head request to return result counts.
			$.ajax({
				url: '{{ wqp_url }}/Result/search',
				data : {
					analyticalmethod : 'https://www.nemi.gov{{ request.path_info }}',
					mimeType : 'xml'
				},
				type : 'HEAD',
				success : function(data, textStatus, jqXHR) {
					var total_results = jqXHR.getResponseHeader('Total-Result-Count')
					if (total_results) {
						$('#wqp-results-count').html(total_results);
					}
					else {
						$('#wqp-results-count').html('an unknown number of ')
					}
				},
				error : function(jqXHR, textStatus, errorThrown) {
					$('#wqp-results-count').html('an unknown number of ')
				}
				
		    });
			
			// Initialize header information dialogs 
			HelpDialog.initialize($('#header-info'))
			
			// Initialize tab buttons and operations
			$('#summary-tab-button').data('actionDivEl', $('#method-tab'));
			$('#analytes-tab-button').data('actionDivEl', $('#analytes-tab'));
			$('#revision-tab-button').data('actionDivEl', $('#revision-tab'));
			$('#wqp-tab-button').data('actionDivEl', $('#wqp-tab'));
			
			$('.tab-button').click(function() {
			    $(this).removeClass('not-active').addClass('active');
			    $(this).siblings().removeClass('active').addClass('not-active');
			    
			    var divToShow = $(this).data('actionDivEl');
			    divToShow.show();
			    divToShow.siblings(':visible').hide();
			});
			
			// Add click event handler to all show/hide detail buttons 
			$('.show-hide-detail-div').each(function(){
					var hiddenDivEl = $(this).find('.hidden-details-div');
					$(this).find('button').click(function(){
					var imgEl = $(this).find('img');
					
					if (imgEl.attr('alt') == 'show'){
						imgEl.attr('src', "{{ STATIC_URL }}/images/collapse_summary.png");
						imgEl.attr('alt', 'hide');
						imgEl.attr('title', 'Hide details');
						hiddenDivEl.show();
					}
					else{
						imgEl.attr('src', "{{ STATIC_URL }}/images/expand_summary.png");
						imgEl.attr('alt', 'show');
						imgEl.attr('title', 'Show details');
						hiddenDivEl.hide();
					}					
				});
			});
			
			// Change the download button if link available or none is available
			{% if not method.details.mimetype %}
				{% if method.details.link_to_full_method %}
					$('.download-button').val('GO TO METHOD SOURCE');
				{% else %}
			    	$('.download-button').addClass('disabled');
			   	{% endif %}
			{% endif %}
			
			$('.download-button').click(function() {
        		{% if method.details.mimetype %}
                    openWindow("{% url 'methods-pdf' method_id=method.details.method_id %}", 'Method', 'Download');
			
		        {% elif method.details.link_to_full_method %}
                    openWindow("{{ method.details.link_to_full_method }}", 'Method', 'Link to method');
		        {% endif %}
		    });
		    
		    // Add click handler for download analytes
		    $('#analytes-button-div input[type="button"]').click(function() {
                openWindow("{% url 'methods-method_analyte_export' method.details.method_id %}", 'Analytes', 'Download');
		    });
		    
		    // See if the section header exceeds a character limit and if so shorten it and put the full description in the title attribute. 
			var methodDescEl = $('.method-descriptive-name');
		    var methodDescText = methodDescEl.html();
		    var methodNameText = $('.method-name').html();
		    if (methodDescText.length + methodNameText.length > 80) {
		    	methodDescEl.html(methodDescText.substr(0, 80 - methodNameText.length) + ' ...').attr('title', methodDescText);	
		    }

		    // Add click handler for submit to update the form's action.
		    var formEl = $('#wqp-download-data-form');
		    formEl.submit(function() {
			    var downloadUrl = '{{ wqp_url }}/' + $('#wqp-download-data-type-div input[name="dataType"]:checked').val() + '/search')
			  
				// Fill in mimeType and action
				$(this).find('input[name="mimeType"]').val($('#wqp-download-file-format-div input[name="mimeType"]:checked').val());
				$(this).attr('action', downloadUrl);

				trackGAEvent('WQP', 'Download', downloadUrl)
			});
		});		
	</script>
{% endblock %}

{% block page-content %}
    <div id="method-summary-page-content" class="summary-page-content">
        <div class="section-banner-header">
        </div>
        <div class="section-header">
            <h1 class="method-info-div">
                    <span class="method-name">{{ method.details.method_source }}: {{ method.details.source_method_identifier | safe}}:&nbsp;</span>
                    <span class="method-descriptive-name">{{ method.details.method_descriptive_name | safe}}</span>
            </h1>
            <div class="method-header-button">
                <input type="button" class="download-button" value="DOWNLOAD METHOD" />
            </div>
        </div>
        <div class="summary-content">
            <div id="header-info" style="display: none;"></div>
            <div class="summary-tabs">
                <ul>
                    <li class="active tab-button" id="summary-tab-button">Summary</li>
                    <li class="not-active tab-button" id="analytes-tab-button">Analytes</li>
                    <li class="not-active tab-button" id="revision-tab-button">Revision{{ method.revisions|length|pluralize }}</li>
 					<li class="not-active tab-button" id="wqp-tab-button">WQP</li>
                </ul>
            </div>
            <div class="summary-tab-contents">
                <div id="method-tab" class="tab-contents">
                    <table class="info-table">
		    		    <tr>
		    			    <th>
		    			        {% include "methods/_field_def.html" with help=field_help|get_help_content:'method_official_name' %}
		    			    </th>
		    	    		<td><b>{{ method.details.method_official_name|safe }}</b></td>
		    	    	</tr>
		    	    	<tr>
		    	    	    <th>{% include "methods/_field_def.html" with help=feld_help|get_help_content:'current_revision' %}
		    	    	    <td>{{ method.details.revision_information }}</td>
		    	    	<tr>
		        			<th>{% include "methods/_field_def.html" with help=field_help|get_help_content:'media_name' %}</th>
		        			<td>{{ method.details.media_name }}
		        				{% if method.details.waterbody_type %}
		        				   &nbsp;(Waterbody type - {{ method.details.waterbody_type }})
		        				{% endif %}
			        		</td>
			        	</tr>
			        	<tr>
			           		<th>{% include "methods/_field_def.html" with help=field_help|get_help_content:'instrumentation_description' %}</th>
			        		<td>{{ method.details.instrumentation_description }}</td>
			    	    <tr>
				    	    <th>{% include "methods/_field_def.html" with help=field_help|get_help_content:'method_subcategory' %}</th>
    			    		<td>{{ method.details.method_subcategory }}</td>
	    			    </tr>
		    	    	<tr>
			        		<th>{% include "methods/_field_def.html" with help=field_help|get_help_content:'method_source' %}</th>
			        		<td>
			    	    		{% include "methods/_method_source_details.html" with r=method.details %}
			    		    </td>
    			    	</tr>
	    		    	<tr>
		    	    		<th>{% include "methods/_field_def.html" with help=field_help|get_help_content:'source_citation_information' %}</th>
			        		<td>
			        			{% if method.details.source_citation_information %}
			    	    			<div class="show-hide-detail-div">
			        	    			<button class="show-hide-toggle" title="Show detail" type="button">
				    		    			<img src="{{ STATIC_URL }}images/expand_summary.png" alt="show"/>
			    				    	</button>
						    		    &nbsp;&nbsp;{{ method.details.source_citation_name|safe }}
    				    				<div class="hidden-details-div" style="display: none;">				
	    				    				<table class="inside-table">
		    			    					<tr><th>Citation Information:</th><td>{{ method.details.source_citation_information|safe }}</td></tr>
			    		    				</table>
				    	    			</div>
					        		</div>
					        	{% else %}
					    	    	{{ method.details.source_citation_name|safe }}
	    					    {% endif %}
		    			    </td>
			    	    </tr>
				        <tr>
				        	<th>{% include "methods/_field_def.html" with help=field_help|get_help_content:'brief_method_summary' %}</th>
				    	    <td>{{ method.details.brief_method_summary|safe }}</td>
    				    </tr>
	    			    <tr>
		    	    		<th>{% include "methods/_field_def.html" with help=field_help|get_help_content:'scope_and_application' %}</th>
			    	    	<td>{{ method.details.scope_and_application|safe }}</td>
				        </tr>
				        <tr>
			    	    	<th>{% include "methods/_field_def.html" with help=field_help|get_help_content:'applicable_conc_range' %}</th>
			    		    <td>{{ method.details.applicable_conc_range|safe }}</td>
    			    	</tr>
	    		    	<tr>
		    	    		<th>{% include "methods/_field_def.html" with help=field_help|get_help_content:'interferences' %}</th>
			        		<td>{{ method.details.interferences|safe }}</td>
			        	</tr>
			    	    <tr>
			    		    <th>{% include "methods/_field_def.html" with help=field_help|get_help_content:'qc_requirements' %}</th>
    			    		<td>{{ method.details.qc_requirements|safe }}</td>
	    		    	</tr>
		    	    	<tr>
			    	    	<th>{% include "methods/_field_def.html" with help=field_help|get_help_content:'sample_handling' %}</th>
				        	<td>{{ method.details.sample_handling|safe }}</td>
				        </tr>
    			    	<tr>
	    		    		<th>{% include "methods/_field_def.html" with help=field_help|get_help_content:'max_holding_time' %}</th>
		    	    		<td>{{ method.details.max_holding_time|safe }}</td>
			        	</tr>
			        	<tr>
			    	    	<th>{% include "methods/_field_def.html" with help=field_help|get_help_content:'relative_cost' %}</th>
				    	    <td>{{ method.details.relative_cost }}</td>
    			    	</tr>
	    		    	<tr>
		    	    		<th>{% include "methods/_field_def.html" with help=field_help|get_help_content:'sample_prep_methods' %}</th>
			        		<td>{{ method.details.sample_prep_methods }}</td>
			        	</tr>
    			    </table>
    			    <div id="bottom-method-download-div">
    	                <input type="button" class="download-button" value="DOWNLOAD METHOD" />
    	            </div>
	            </div>
	            <div id="analytes-tab"  class="tab-contents" style="display: none";>
                    <div id="analyte-header">
                        This method has <b>{{ method.analytes|length }} analyte{{ method.analytes|length|pluralize }}</b> associated with it.
			    	</div>
			    	<table class="data-table">
                        <thead>
				  		    <tr>
				    		    <th>Analyte</th>
					    	    <th>Detection<br/>Level</th>
						        <th>Bias</th>
						        <th>Precision</th>
						        <th>Pct False<br/>Positive</th>
    						    <th>Pct False<br/>Negative</th>
	   						    <th>Spiking<br/>Level</th>
	    				    </tr>
	    				</thead>
		    			<tbody>
			    		{% for a in method.analytes %}
				   			<tr>
				    			<td>{% include "methods/_analyte_synonyms.html" with analyte_name=a.r.analyte_name|force_escape analyte_code=a.r.analyte_code syn=a.syn  %}</td>			   
			    				<td>
					    			{% if a.r.dl_value == 999 %}
						    			N/A
						    		{% else %}
							    		{{ a.r.dl_value|floatformat:2 }} <span class="abbrev" title="{{ a.r.dl_units_description }}">{{ a.r.dl_units }}</span>
								    {% endif %}
       							</td>
		   						<td>
		    						{% if a.r.accuracy == -999 %}
			    						N/A
				    				{% else %}
						    			{{ a.r.accuracy|floatformat:0}}<span class="abbrev" title="{{ a.r.accuracy_units_description }}">{{ a.r.accuracy_units }}</span>
						    		{% endif %}
							    </td>
    							<td>
	    							{% if a.r.precision == 999 %}
		   								N/A
		    						{% else %}
			    						{{ a.r.precision|floatformat:2 }} <span class="abbrev" title="{{ a.r.precision_units_description }}">{{ a.r.precision_units }}</span>
				    				{% endif %}
						    	</td>
    							<td>{{ a.r.false_positive_value|default_if_none:"" }}</td>
	    						<td>{{ a.r.false_negative_value|default_if_none:"" }}</td>
		    					<td>
			    					{% if a.r.prec_acc_conc_used %}
			    						{{ a.r.prec_acc_conc_used|floatformat:2 }} <span class="abbrev" title="{{ a.r.dl_units_description }}">{{ a.r.dl_units }}</span>
				    				{% endif %}
					    		</td>
						    </tr>
	                    {% endfor %}
    					</tbody>
	    			</table>
				    <table class="info-table">
					    <tr><th>Precision Descriptor Notes:</th><td>{{ method.notes.0.precision_descriptor_notes|safe }}</td></tr>
						<tr><th>Detection Level Note: </th><td>{{ method.notes.0.dl_note|safe }}</td></tr>
    				</table>    
			    	<div id=analytes-button-div>
			    	    <input type="button" value="DOWNLOAD ANALYTES" />
    				</div>
	            </div>
	            <div id="revision-tab"  class="tab-contents" style="display: none;">
	                <table class="data-table">
				    	<thead>
					    	<tr>
						    	<th>Revision</th>
							    <th>PDF/Link</th>
    						</tr>
	    				</thead>
		    			<tbody>
			    			<tr>
    							<td>{{ method.latest_revision.revision_information }}</td>
	    						<td>
		    						{% if method.latest_revision.mimetype %}
		    						    <input type="button" value="DOWNLOAD CURRENT REVISION" onclick="openWindow('{% url 'revision-pdf' method.latest_revision.revision_id %}', 'Revision', 'Download')" />
                                    {% elif method.details.link_to_full_method %}
                                        <input type="button" value="GO TO METHOD SOURCE" onclick="openWindow('{{ method.details.link_to_full_method }}', 'Revision', 'Link to method')" />   
							    	{% endif %}
    							</td>
	    					</tr>
		    				{% for revision in method.revisions %}
			    				{% if revision.revision_id != method.details.revision_id %}
				    				<tr>
					    				<td>{{ revision.revision_information }}</td>
						    			<td>
							    			{% if revision.mimetype %}
        		    						    <input type="button" value="DOWNLOAD PDF" onclick="openWindow('{% url 'revision-pdf' revision.revision_id %}', 'Revision', Download')" />
    										{% endif %}
	    								</td>
		    						</tr>
			    				{% endif %}
				    		{% endfor %}
					    </tbody>	
    				</table>    
    	        </div>
    	        <div id="wqp-tab" class="tab-contents" style="display: none;">
    	        	<div id="wqp-header">
    	        		The <a href="http://www.waterqualitydata.us">Water Quality Portal</a> contains
    	        		<span id="wqp-results-count"></span> samples that use this method.
    	        	</div>
    	        	<div id="wqp-download">
    	        		<div id="wqp-download-header">Download WQP data</div>
    	        			<div id="wqp-form-parameters-div">
	    	        			<div id="wqp-download-data-type-div">
	    	        				<span class="wqp-download-input-header">Select data:</span>
	    	        				<ul>
	    	        					<li>
	    	        						<input type="radio" id="site-radio" name="dataType" value="Station" checked/>
	    	        						<label for="site-radio">Sites only</label>
	    	        					</li>
	    	        					<li>
	    	        						<input type="radio" id="result-radio" name="dataType" value="Result" />
	    	        						<label for="result-radio">Sample results only</label>
	    	        					</li>
	    	        				</ul>
	    	        			</div>
	    	        			<div id="wqp-download-file-format-div">
		    	        			<span class="wqp-download-input-header">File format:</span>
		    	        			<ul>
		    	        				<li>
		    	        					<input type="radio" name="mimeType" value="csv" id="csv-radio" checked/>
		    	        					<label for="csv-radio">Comma-separated</label>
		    	        				</li>
		    	        				<li>
		    	        					<input type="radio" name="mimeType" value="tsv" id="tsv-radio"/>
		    	        					<label for="tsv-radio">Tab-separated</label>
		    	        				</li>
		    	        				<li>
		    	        					<input type="radio" name="mimeType" value="xlsx" id="xls-radio"/>
		    	        					<label for="xls-radio">MS Excel 2007+</label>
		    	        				</li>
		    	        			</ul>
		    	        		</div>
		    	        	</div>
		    	        	<form id="wqp-download-data-form" method="get">
    	        				<input type="hidden" name="analyticalmethod" value="https://www.nemi.gov{{ request.path_info }}" />
    	        				<button type="submit">Download</button>
								<input type="hidden" name="mimeType" />
    	        			</form>
    	        		</div>
    	        	</div>
    	     </div>
    	     
        </div>
    </div>
{% endblock %}