body {
	font-family: Arial;
	font-size: 12px;
}
table{
	border-collapse: collapse;
}
th{
	background-color: DarkSeaGreen;	
	border-bottom: solid #aaaaaa 1px;
}
td{
	border-bottom: solid #aaaaaa 1px;
}
a {
	outline: none;			
}
a:link{
	color: black;
}
a:visited {
	color: black;
}
a:hover{
	color: red;
}
a img{
	border: none;
	padding: 0px;
	margin: 0px;
}
a[class='popup']{
   padding-left: 18px;
   background: transparent url(Icon-Extlink.png) no-repeat center left;
}
.external-link a {
	padding-left: 18px;
	background: transparent url(Icon-Extlink.png) no-repeat center left;
}
.abbrev{
	cursor: help;
}
#page-header{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5%;
	margin-right: 5%;
	border-bottom: solid darkred 2px;
}
#page-content {
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
}
#page-navigation {
	background-color: Beige;	
}
#keyword-search-div {
	float: right;
	margin : 0.5em;
	font-size: large;
}
/* Used to style form error message */
.errorlist{
	color: red;
}
#navigation-bar {
	display: inline-block;
	font-size: large;
	margin: 0px;
	
}
#navigation-bar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#navigation-bar li {
	white-space: nowrap;
}
#navigation-menu>li>a{
	 border-right: 2px solid DarkGoldenRod;
}
#navigation-menu>li{
	margin-top: 2px;
}
#navigation-bar a:link, #navigation-bar a:visited {
	text-decoration: none;
	color: black;	
	padding: 0.5em;
	margin: 0px;
	background-color: Beige;
}
#navigation-bar a:hover {
	background-color: DarkGoldenRod;
	color: white;
}
#navigation-bar .sub_menu li{
	font-size: small;
}

#page-title {
	background-color: SeaGreen;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 0px;
}
#nav_and_search {
	margin: 0px;
}
#search-button {
	border: solid 1px grey;
	background-color: DarkSeaGreen;
	color: white;
	font-weight: bold;
}
#search-button:hover {
	background-color: lightgrey;
	color: black;
}
#search-box {
	display: inline-block;
	margin-top: 0px;
	border: solid DarkSeaGreen 1px;
	padding: 0px;
	width: 700px;
}
#search-box p{
	padding: 4px;
}
#search-box form{
	padding: 4px;
}
#search-box th {
	background-color: white;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	padding: 4px;
	width: 1px;
	border-style: none;
}
#search-box td {
	text-align: left;
	color: black;
	padding: 2px;
	width: 1px;
	border-style: none;
}
#search-box ul{
	list-style-type: none;
	padding: 2px;
	margin: 0px;
}
#search-box-header {
	background-color: DarkSeaGreen;
	color: white;
	padding: 10px;
	margin: 0px;
}
#search-box-header div{
	border: solid black 1px;
	padding: 2px 4px 2px 6px;
	color: black;
	background-color: white;
	width: 1em;
	cursor: pointer;
}
/* The following three styles style the Find analyte by name or kind feature */
#find-analytes {
	cursor: pointer;
}
#kind-element {
	display: inline;
}
#kind-element p, #kind-element ul, #kind-element li{
	display: inline;
}
/* data-tables will have the headers at the top and are used
to represent a set of data */
.data-table {
	border-collapse: collapse;
}
.data-table th {
	vertical-align: top;
	text-align: left;
	padding: 4px 15px 4px 4px;
}
.data-table td {
	vertical-align: top;
	text-align: left;
	padding: 4px;	
}
/* info-tables use the table format to list information
about an object. The headers are meant to be the left most
column in the table */
.info-table {
	text-align: left;
	border-top: solid #aaaaaa 1px;
	
}
.info-table th {
	vertical-align: center;
	text-align: left;
	padding: 4px;	
	white-space: nowrap
}
.info-table td {
	padding: 4px;
}
/* inside-table is used to format table data without colored headers or borders */
.inside-table th{
	background-color: inherit;
	border: none;
	vertical-align: top;
	padding-top: 2px;
	padding-bottom: 0px;
}
.inside-table td {
	background-color: inherit;
	border: none;
	padding-top: 2px;
	padding-bottom: 0px;
}
.inside-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#data-entry-table th {
	background-color: white;
	text-align: left;
	vertical-align: top;
	padding: 4px;
	width: 1px;
	border: none;
}
#data-entry-table td {
	border: none;
}
#data-entry-table ul {
	list-style-type: none;
}
/* styles the subcategory list on the Browse Methods page */
.method-subcategory-div {
	position: relative;
	left: 4em;
}
/* styles for the button which shows/hides details */
.show-hide-toggle {
	border: none;
	background: transparent;
}
.show-hide-detail-div table {
	position: relative;
	left: 2em;
}
.show-hide-detail-div ul {
	list-style-type: none;
	margin: 0px;
}
