*.pyc
*.egg-info/
build/
dist/
nemi/compass/.sass-cache
nemi/compass/Gem
nemi/nemi_project/settings/local.py
nemi/nemi_project/static/styles
static/
.idea/
env/
/reports
nemi/reports
*.sublime-project
*.sublime-workspace
/Gem
.DS_Store

