Django==2.2.13
bumpversion==0.5.3
cx_Oracle==7.3.0
dj-database-url==0.5.0
django-jenkins==0.110.0
django-object-actions==2.0.0
django-tinymce==2.8.0
djangorestframework==3.11.0
factory-boy==2.12.0
PyPDF2==1.26.0
requests==2.22.0
xlwt==1.3.0
