{% extends "base.html" %}

{% load helpcontent %}

{% block title %}NEMI PROTOCOL Summary - {{ object.source_citation }}{% endblock %}

{% block page_description %}{{ object.source_citation_information }}{% endblock %}

{% block page_script %}
	<script src="{{ STATIC_URL }}lib/jquery-ui/jquery-ui-1.12.1.js"></script>
	<script src="{{ STATIC_URL }}script/HelpDialog.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
			// Initialize header information dialogs 
			HelpDialog.initialize($('#header-info'));
			
			$('.download-button').click(function() {
		        window.open('{{ protocol.link }}');
		    });
		});
		
	</script>
{% endblock %}

{% block page-content %}
    <div id="protocol-summary-page-content" class="summary-page-content">
        <div class="section-banner-header">
        </div>
        <div class="section-header">
            <h1 class="method-info-div">
                <span class="method-name">{{ protocol.source_citation }}</span>
            </h1>
            <div class="method-header-button">
                <input type="button" class="download-button" value="LINK TO PROTOCOL" />
            </div>
        </div>    
        <div class="summary-content">
	    <!--  Place holder for the field information dialog  -->
    	    <div id="header-info" style="display: none;"></div>
            <div class="summary-tab-contents">
		        <table class="info-table">
		        <!-- Not currently using the domhelp app to define these. They would
		        need to be added to that table -->
			        <tr><th>Protocol Name</th><td>{{ protocol.source_citation_name|safe }}</td></tr>
			        <tr><th>Citation Information</th><td>{{ protocol.source_citation_information|safe }}<td></td></tr>
			        <tr><th>Title</th><td>{{ protocol.title|safe }}</td></tr>
			        <tr><th>Author</th><td>{{ protocol.author|safe }}</td></tr>
			        <tr><th>Publication Year</th><td>{{ protocol.publication_year|safe }}</td></tr>
			        <tr><th>Abstract</th><td>{{ protocol.abstract_summary|safe }}</td></tr>
			        <tr><th>Table of Contents</th><td>{{ protocol.table_of_contents|safe }}</td></tr>
					<tr><th>Methods in Protocol</th><td><ul>
					{% for rel in protocol.protocolmethodrel_set.all %}
	                <li><a title="View method details" href="{% url 'methods-method_summary' rel.method.method_id %}">
	                            	{{ rel.method.source_method_identifier|safe }}</a>: {{ rel.method.method_descriptive_name | safe }}</li>
	                {% endfor %}
	                </ul>
	                </td>
	                </tr>
			    </table>
				<div id="bottom-method-download-div">
    	            <input type="button" class="download-button" value="LINK TO PROTOCOL" />
                </div>
    	    </div>
    	</div>
        
    </div>
{% endblock %}			        
