{% extends "base.html" %}

{% block title %}NEMI Change User Password{% endblock %}

{% block page_info %}<h1>NEMI Change User Password</h1>{% endblock %}

{% block page-content %}
	<p>Please enter your old password, your new password, and then confirm your new password to change
	the password for user {{ user.username }}
	</p>
	<form method="post" action="{% url 'nemi_change_password' %}" autocomplete="off">{% csrf_token %}
		{{ form.as_p }}
		<br />
		<input type="submit" value="Change password" />
		<input type="hidden" name="redirect_url" value="{{ redirect_url }}" />
	</form>
{% endblock %}