{% extends 'base_with_header.html' %}

{% block title %}NEMI SAMS Create User Account{% endblock %}

{% block section_name %}NEMI SAMS Create User Account{% endblock %}

{% block content %}
<p style="font-size: medium;">Please enter the information requested. All fields are required.</p>
	<form action="{{ request.get_path }}" method="post" autocomplete="off">{% csrf_token %}
		<table>
			{% for field in form %}
				<tr>
					<th style="white-space:nowrap;">{{ field.label_tag }}
						{% for e in field.errors %}
							<br /><span style="color:red;">{{ e }}</span>
						{% endfor %}
					</th>
					<td>{{ field }}</td>
					<td style="color: grey">{{ field.help_text }}</td>
				</tr>
			{% endfor %}
		</table>
		<br />
		<input class="default-button" type="submit" value="Create account" />
	</form>
{% endblock %}