{% extends "base_with_header.html" %}

{% block page_info %}<h1>Log On to NEMI SAMS</h1>{% endblock %}

{% block section_name %}Log On to NEMI SAMS{% endblock %}

{% block content %}
    <p style="font-size: medium;">Please log in to update or create methods or click 
	    <a href="{% url 'nemi_create_account' %}">here to create a new account.</a>
    </p>
	{% if form.non_field_errors %}
       	<p class="errorlist">{{ form.non_field_errors}}</p>
    {% endif %}
	
    <form method="post" action="{% url 'nemi_login' %}"> {% csrf_token %}
	     <table>
	           {% for field in form %}
	     	       <tr>
	    		      	<td>{{ field.label_tag }}:&nbsp;</td>
		            	<td>{{ field }}</td>
		        	    <td>{{ field.errors }}</td>
    			    </tr>
	        	{% endfor %}
		 </table>
   	     <br/>
         <input class="default-button" type="submit" value="Login" />
    	 <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}
