{% extends "base.html" %}

{% block page_info %}<h1>Log On to NEMI</h1>{% endblock %}

{% block page-content %}
	<p style="font-size: medium;">Please log in to update or create methods or click 
	<a href="{% url 'nemi_create_account' %}">here to create a new account.</a>
	</p>
	{% if form.non_field_errors %}
		<p class="errorlist">{{ form.non_field_errors}}</p>
	{% endif %}
	
	<form method="post" action="{% url 'nemi_login' %}"> {% csrf_token %}
		<table id="data-entry-table">
			{% for field in form %}
				<tr>
			    	<td>{{ field.label_tag }}:&nbsp;</td>
			    	<td>{{ field }}</td>
			    	<td>{{ field.errors }}</td>
				</tr>
			{% endfor %}
		</table>
		<br/>
		<input type="submit" value="Login" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
{% endblock %}
