.summary-page-content {
	margin-top: 15px;
	@include section-header(40px, $nemi-page-header-color);
	
	.method-name {
		color: $nemi-page-header-highlight-color;
	}
	.section-header, .section-header h1 {
		font-size: 18px;
		color: white;
		
		.method-info-div {
			display: inline-block;
		}
		.method-header-button {
			float: right;
		}
	}
	.download-button {
		vertical-align: middle;
		@include nemi-button;
	}
	.download-button.disabled {
		color: $nemi-disabled-text-color;
		background-color: $nemi-disabled-color;
		cursor: auto;
	}
	.summary-content {
		@include container;
		margin-top: 2px;
		.summary-tabs {
			padding-top: 4px;
			@include column(3);
			margin-left: 3px;
			ul {
				@include no-style-or-margin-list;
				li {
					@include nemi-tab;
				}
				.active {
					color: white;
					background-color: $nemi-summary-tab-active-color;
					
				}
				.not-active {
					color: white;
					background-color: $nemi-summary-tab-inactive-color;
					&:hover {
						color: $nemi-summary-tab-btn-rollover-color;
					}				
				}
			}
		}
		.summary-tab-contents {
			background-color: $nemi-primary-content-bg-color;
			@include main-box-shadow;
			@include column(16, true);
			width: span(17) - 8;
			margin-bottom: 15px;

			.info-table {
				margin-bottom: 10px;
				th {
					@include nowrap;
					color: white;
					background-color: $nemi-table-header-color;
					border-bottom: solid 1px $nemi-table-border-color;
					padding-left: 10px;
					.header-label {
						display: inline-block;
						vertical-align: middle;
						padding-right: 5px;
						float: left;
					}
					.help-button {
						display: inline-block;
						padding-left: 5px;
						padding-right: 5px;
						float: right;
						vertical-align: middle;
					}					
				}
				td {
					padding-left: 10px;
					padding-right: 10px;
					color: black;
					background-color: $nemi-table-primary-color;
					border-bottom: solid 1px $nemi-table-border-color;
				}
				.inside-table {
					th {
						@include nowrap;
						color: black;
						background-color: inherit;
						border: none;
						vertical-align: top;
					}
					td {
						border: none;
					}
				}
			}
			.data-table {
				border-bottom: solid 1px $nemi-table-border-color;
				border-collapse: collapse;
				width : 100%;
				th {
					text-align: center;
					color: white;
					background-color: $nemi-table-header-color;
					border-right: solid 1px $nemi-table-border-color;
				}
				
				tbody>tr {
					color: black;
					&:nth-child(odd) {
						background-color: $nemi-table-primary-color;
					}
					&:nth-child(even) {
						background-color: $nemi-table-secondary-color;
					}
					
					td {
						padding-right: 6px;
						padding-left: 6px;
						border-right: solid 1px $nemi-table-border-color;
					}
				}
				ul {
					@include no-bullets;
					margin: 0px;
				}
			}
			.show-hide-detail-div {
				button {
					margin-right: 10px;
				}
				padding: 0px;
				.hidden-details-div {
					padding-top: 0px;
					padding-bottom: 0px;
				}
			}
			#analytes-tab .data-table {
				th:last-child, td:last-child {
					border-right: none;
				}
			}	
			
			#revision-tab .data-table {
				margin-left: 30px;
				width: span(16) - 24;
				th:first-child, td:first-child {
					border-left: solid 1px $nemi-table-border-color
				}
				
			}	
		}
	}
}
#bottom-method-download-div {
	padding: 10px;
	background-color: $nemi-primary-content-bg-color;
	text-align: center;
}
#method-summary-page-content {	
	#analytes-tab {
		#analyte-header {
			padding: 10px;
		}
		.info-table {
			padding: 10px;
			th {
				vertical-align: top;
				color: black;
				background-color: $nemi-primary-content-bg-color;
				border: none;
			}
			td {
				border: none;
			}
		}
		#analytes-button-div {
			padding: 10px;
			text-align: center;
			input[type=button] {
				@include nemi-button($color: $nemi-summary-analyte-download-color, $text_color:black);
			}
		}
	}
	#revision-tab {
		.data-table {
			margin-top: 30px;
			
			input[type=button] {
				@include nemi-button($color: $nemi-summary-analyte-download-color, $text_color:black);
			}
		}
	}
}
#statistical-method-summary-page-content {
	.summary-tab-contents {
		@include column(20, true);
		width: span(20) - 6;
	}
}