{% extends "base_search.html" %}

{% block title %}NEMI Regulatory Search{% endblock %}

{% block local_page_script %}
	<script src="{{ STATIC_URL }}script/analyte_select.js"></script>
{% endblock %}

{% block page_title %}Search Regulatory Methods{% endblock %}

{% block search_box_body %}
	{% include "find_analyte_dialog.html" with analyte_value_id="analyte-search-value" %}
	<form id="search-form" action={% url search-regulatory %} method="get">
		<table id="search-table">
			<tr>
				<th>Analyte (required):</th>
				<td style="white-space: nowrap;"
				id="kind-element">{{ search_form.analyte_kind }}{{ search_form.analyte_value }}{{ search_form.analyte_value.errors }}
				<input id="find-analytes" 
				onclick="return showAnalyteDialog($('input:radio[name=analyte_kind]:checked').val(), $('#analyte-search-value').val())" 
				type="button" value="Find...">
				</td>
			</tr>
			<tr><th>{{ search_form.regulation.label }}:</th><td>{{ search_form.regulation }}</td></tr>
			<tr><td></td><td><input id="search-button" type="submit" value="Search NEMI"/></td></tr>				
		</table>
	</form>
{% endblock %}

{% block export_results %}
	{% if results %}
		<a class="popup"
			title="Download the results in Microsoft's proprietary Excel format."
			href={% url search-regulatory_export_xls %}{{ query_string }}>Export results for Microsoft Excel
		</a>
		<br/>
		<a class="popup"
			title="Download the results as a tab-separated values format, which can be opened by any spreadsheet application." 
			href={% url search-regulatory_export_tsv %}{{ query_string }}>Export results as a tab separated text file (can be opened in any text editor or spreadsheet)
		</a>
	{% endif %}
{% endblock %}

{% block totals %}
	{{ block.super }}
	<p><b>Total number of unique methods:&nbsp;{{ method_count }}</b></p>
	<br/><br/>
	<b>Analyte:</b>{% include "analyte_synonyms.html" %}	
{% endblock %}

{% block results_table_data %}
	{% load data_format %} <!-- Imports decimal_format tag -->
	{% for r in results %}
		<tr>
			<td class="view-button"><a title="View method details" href="{% url search-method_summary r.method_id %}">View</a></td>
			<td>{{ r.source_method_identifier|safe }}</td>
			<td><span class="abbrev" title="{{ r.regulation_name }}">{{ r.regulation }}</span></td>
			<td>{{ r.reg_location }}</td>
			<td>{{ r.method_source }}</td>
			<td>{{ r.revision_information }}</td>
			<td>{{ r.method_descriptive_name }}</td>
			<td>{% include "method_download.html" with data=r %}</td>
			<td>
				{% if r.dl_value.normalize == 999 %}
					N/A
				{% else %}
					 {{ r.dl_value|decimal_format }} <span class="abbrev" title="{{ r.dl_units_description }}">{{ r.dl_units }}</span>
				{% endif %}
			</td>
			<td><span class="abbrev" title="{{ r.dl_type_description }}">{{ r.dl_type }}</span></td>	
			<td><span class="abbrev" title="{{ r.instrumentation_description }}">{{ r.instrumentation }}</span></td>
			<td><span class="abbrev" title="{{ r.relative_cost }}">{{ r.relative_cost_symbol }}</span></td>
		</tr>
	{% endfor %}
{% endblock %}					