<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
		<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/vnd.microsoft.icon">
		<!-- Put in page specific title -->
		<title>
			{% block title %}National Environmental Methods Index{% endblock %}
		</title>
		
		{% block page_style %}<!-- Put page specific style here -->{% endblock %}	

		<link rel="stylesheet" href="{{ STATIC_URL }}styles/custom.css" media="screen" type="text/css"> <!-- Project style sheet -->
		
			  
		<script src="{{ STATIC_URL }}script/jquery-ui/jquery-1.9.0.js"></script>
 		<script type="text/javascript">
			$(document).ready(function(){
				// Any link wrapped in an external-link class should have the target attribute set to
				// open the link in a new browser window or tab.
				$('.external-link a').attr('target','_blank');
			});
		</script>
		{% block page_script %}<!-- Put page specific script here -->{% endblock %}
		<script type="text/javascript">
			var ENABLE_GOOGLE_ANALYTICS = location.hostname.search('cida-test.er.usgs.gov/nemi') != -1;
			if (ENABLE_GOOGLE_ANALYTICS) {
				var _gaq = _gaq || [];
				  _gaq.push(['_setAccount', 'UA-39958467-1']);
			      _gaq.push (['_gat._anonymizeIp']);
				  _gaq.push(['_trackPageview']);

				  (function() {
				    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				  })();
			}
		</script>
	</head>
	
	<body>
		{% block header %}
			<div id="page-header">
				<a href="{% url 'home' %}"><img src="{{ STATIC_URL }}images/nemi4.0.gif" alt="NEMI Logo"></img></a>
				<div id="right-header">
					{% block whats_new %}
						<div id="whats-new-div">
							<div class="box-header">
								<span>What's new with NEMI</span>
							</div>
							<div id="news-feed">
								{% for item in news_items %}
									{{ item.headline|safe }}
								{% endfor %}
							</div>
						</div>
				    {% endblock %}
				    {% block header_links %}
				    	<div id="header-links">
				    		<ul>
				    			<li><a href="{% url 'about' %}">About NEMI</a></li>
				    			<li><a href="{% url 'glossary' %}">Glossary</a></li>
				    			<li><a href="{% url 'faqs' %}">FAQ</a></li>
				    		</ul>
				    	</div>
				    {% endblock %} 
				</div>	    
			</div>
		{% endblock %}
		<div id="page-info">
			{% block page_info %}
			{% endblock %}
		</div>
		{% block page-content %}
		{% endblock %}
		<div id="page-footer">
			{% block footer %}
			<div id="logos" style="padding-top: 10px;">
				<a href="http://epa.gov" style="position: relative; left: 5%;"><img src={{ STATIC_URL }}images/epa1.gif /></a>
				<a href="http://usgs.gov" style="position: relative; left: 10%;"><img src={{ STATIC_URL }}images/usgs_id_green.gif /></a>
			</div>
			{% endblock %}
		</div>
	</body>
</html>	