<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
		<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/vnd.microsoft.icon">
		<!-- Put in page specific title -->
		<title>
			{% block title %}National Environmental Methods Index{% endblock %}
		</title>
		
		{% block page_style %}<!-- Put page specific style here -->{% endblock %}	

		<link rel="stylesheet" href="{{ STATIC_URL }}styles/custom.css" media="screen" type="text/css"> <!-- Project style sheet -->
		
		<!-- Adds style for beta marker. This should be removed when the web site is released -->
		<style>
			#beta-marker {
				color: grey;
				font-size: large;
				position: absolute;
				top: 0px;
				left: 320px;
		}
		</style>
		
			  
		<script src="{{ STATIC_URL }}script/jquery-ui/jquery-1.9.0.js"></script>
 		<script type="text/javascript">
			$(document).ready(function(){
				// Any link wrapped in an external-link class should have the target attribute set to
				// open the link in a new browser window or tab.
				$('.external-link a').attr('target','_blank');
			});
		</script>
		
		{% block page_script %}<!-- Put page specific script here -->{% endblock %}
	
	</head>
	
	<body>
		{% block header %}
			<div id="page-header">
				<img src="{{ STATIC_URL }}images/bannerv3.7.gif" alt="NEMI Logo"></img>
				<div id="beta-marker"><p>Provisional - Site in review</p></div> <!--  This should be removed when the web site is released -->
				<div id="right-header">
					{% block whats_new %}
						<div id="whats-new-div">
							<div class="box-header">
								<span>What's new with NEMI</span>
							</div>
							<div id="news-feed">
								<p>Statistical methods now included in NEMI</p>
								<p>New mercury collection method available: 104.72(EPA-NERL)</p>
							</div>
						</div>
				    {% endblock %}
				    {% block header_links %}
				    	<div id="header-links">
				    		<ul>
				    			<li>About NEMI</li>
				    			<li>Glossary</li>
				    			<li>FAQ</li>
				    			<li>MyNEMI</li>
				    		</ul>
				    	</div>
				    {% endblock %} 
				</div>	    
			</div>
		{% endblock %}
		<div id="page-info">
			{% block page_info %}
			{% endblock %}
		</div>
		{% block page-content %}
		{% endblock %}
		<div id="page-footer">
			{% block footer %}
			<div id="logos" style="padding-top: 10px;">
				<a href="http://epa.gov" style="position: relative; left: 5%;"><img src={{ STATIC_URL }}images/epa1.gif /></a>
				<a href="http://usgs.gov" style="position: relative; left: 10%;"><img src={{ STATIC_URL }}images/usgs_id_green.gif /></a>
			</div>
			{% endblock %}
		</div>
	</body>
</html>	