<!DOCTYPE html>
<html lang="en">
{% load static %}
	<head>
        <title>
            {% block title %}National Environmental Methods Index{% endblock %}
        </title>
            
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="{% block page_description %}{% endblock %}" />
	
		<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png" type="image/vnd.microsoft.icon">
		<!-- Put in page specific title -->
        <link href="{{ STATIC_URL }}styles/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}styles/print.css" media="print" rel="stylesheet" type="text/css" />     
        {% block page_style %}<!-- Put page specific style here -->{% endblock %}   
		
		<script type="text/javascript" src="{% static 'lib/jquery-1.11.0.min.js' %}"></script> 
		
 		<script type="text/javascript">
			$(document).ready(function(){
				// Any link wrapped in an external-link class should have the target attribute set to
				// open the link in a new browser window or tab.
				$('.external-link a').attr('target','_blank');
			});
		</script>
		{% block page_script %}<!-- Put page specific script here -->{% endblock %}
        
		<script type="text/javascript">
			var ENABLE_GOOGLE_ANALYTICS = '{{ settings.GA_TRACKING_CODE }}' !== '';
			if (ENABLE_GOOGLE_ANALYTICS) {
				var _gaq = _gaq || [];
				  _gaq.push(['_setAccount', '{{ settings.GA_TRACKING_CODE }}']);
			      _gaq.push (['_gat._anonymizeIp']);
				  _gaq.push(['_trackPageview']);

				  (function() {
				    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				  })();
			}
			
			function trackGAEvent(category, actions, labels, values) {
				if (ENABLE_GOOGLE_ANALYTICS) {
					_gaq.push(['_trackEvent', category, actions, labels, values]);
				}
			}
		</script>
	</head>
	
	<body id="nemi-body">
        <div class="main-page">
    		{% block header %}
                <div class="header">
        			<div class="banner">
        				<a href="{% url 'home' %}"><img src="{{ STATIC_URL }}images/NEMI_header.png" alt="NEMI Logo"></img></a>
        			</div>
                    <div class="bottom-header-banner">
                        {% block page_header %}
                            {% block link_to_home %}
                                <div class="home-link">
                                    <ul>
                                        <li><a href="{% url 'home' %}">Home</a></li>
                                    </ul>
                                </div>
                            {% endblock %}
                            {% block header_links %}
                                <div class="header-links">
                                    <ul>
                                        <li><a href="{% url 'faqs' %}">FAQ</a></li>
                                        <li><a href="{% url 'glossary' %}">Glossary</a></li>
                                        <li><a href="{% url 'about' %}">About NEMI</a></li>
                                    </ul>
                                </div>
                            {% endblock %} 
                        {% endblock %}
                    </div>
                </div>
    		{% endblock %}
    		
    		{% block page-content %}
    		{% endblock %}
            
    		<div class="page-footer">
    			{% block footer %}
        			<div class=footer-who>
                        <h6>WHO WE ARE</h6>
                        <ul>
                            <li><a href="{% url 'submit_method' %}">Submit a method</a></li>
                            <li><a href="http://acwi.gov/monitoring/">NWQMC</a></li>
                            <li><a href="mailto:nemi@usgs.gov">Contact us</a></li>
                        </ul>
                    </div>
                    <div class=footer-logos>
                        <ul>
                            <li><img style="height: 100px; width: 73px" src="{{ STATIC_URL }}images/NWQMC_DropwLTR_BW.png" alt="NWQMC" /></li>
                            <li><a href="http://www.usgs.gov/"><img src="{{ STATIC_URL }}images/USGSlogo_tag_white.png" alt="USGS" /></a></li>
                            <li><a href="http://epa.gov/"><img src="{{ STATIC_URL }}images/EPA_simple.png" alt="EPA" /></a></li>
                        </ul>
                    </div>
                    <div class=footer-legal>
                        <h6>LEGAL</h6>
                        <ul>
                            <li><a href="{% url 'terms_of_use' %}">Terms of use</a></li>
                            <li><a href="http://www.usgs.gov/laws/accessibility.html">Accessibility</a></li>
                            <li><a href="http://www.usgs.gov/foia/">FOIA</a></li>
                            <li><a href="http://www.usgs.gov/laws/privacy.html">Privacy</a></li>
                            <li><a href="http://www.usgs.gov/laws/policies_notices.html">Policies and notices</a></li>
                        </ul>
                    </div>
       		   {% endblock %}
    		</div>
        </div>
	</body>
</html>	