{% extends 'base_with_header.html' %}

{% block title %}NEMI Glossary{% endblock %}

{% block section_name %}Glossary{% endblock %}

{% block content %}
    <div id="glossary-content-div">
        {% for item in help_list %}
            <div class="glossary-div">
                <div class="glossary-term-div">
                    <span class="help-header">{{ item.label }}</span>
                </div>
                <div class="glossary-definition-div">
                    <span class="help-descr">{{ item.description|safe }}</span>
                </div>
            </div>
        {% endfor %}
    </div>   
{% endblock %}