{% extends "base.html" %}

{% block page_style %}
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/jquery-ui-1.10.0.custom/smoothness/jquery-ui-1.10.0.custom.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}lib/select2-master/select2.css" media="screen" type="text/css" />
{% endblock %}

{% block page_script %}
	<script src="{{ STATIC_URL }}lib/select2-master/select2.js"></script>
	<script src="{{ STATIC_URL }}script/jquery-ui/jquery-ui-1.10.0.custom.js"></script>
	<script src="{{ STATIC_URL }}script/Utils.js"></script>
    <script src="{{ STATIC_URL }}script/AnalyteSelect.js"></script>
	 
	<script type="text/javascript">
		function updateBrowseMethodCount() {
			$.ajax({
				url: '{% url "methods-method_count" %}',
				success : function(resp) {
					$('#browse-count-span').html('NEMI currently contains ' + resp.method_count + ' methods, protocols and procedures.');	
				}
			});
		}
		
		function getCheckboxListHtml(choices /* array [Objects] */, fieldName /* String */, choiceIdBase /* String */) {
			/*
			Return a string representing a list of checkboxes. The values and display values are defined in choices
			which is an array of Object with the properties, value and display_value. All checkboxes will have the same
			name attribute, fieldName. Each checkbox's id will be choiceIdBase-i with i being the index.
			*/
			var checkboxes = '';
			for (var i = 0; i < choices.length; i++) {
				choiceId = choiceIdBase + i;
				checkboxes +='<li><input type="checkbox" name="' + fieldName + '" id="' + choiceId + 
					'" value="' + choices[i].value + '"/><label for="' + choiceId + '">' + choices[i].display_value + '</label></li>';
			}
			return checkboxes;
		}
		
		function setInitialCheckedState(checkboxes /* jquery elements */, setToDefault /* Boolean */) {
			/*
			Set the checked property of the checkboxes. All disabled checkboxes are set to false.
			Enabled checkboxes are set to true if setToDefault is true and the sessionStorage is updated
			by forcing a change event. Otherwise, sessionStorage is checked
			for each checkbox and it's property is set accordingly, with the default being true.
			*/
			checkboxes.filter(':disabled').prop('checked', false).change();
			if (setToDefault) {
				checkboxes.filter(':enabled').prop('checked', true).change();
			}
			else {
				checkboxes.filter(':enabled').each(function() {
					var elId = $(this).attr('id');
					if (sessionStorage[elId] == 'off') {
						$(this).prop('checked', false);
					}
					else {
						$(this).prop('checked', true);
					}
				});
			}
		}
		
		function setMethodTypeState(checkboxes /* jquery elements */, setToDefault /* Boolean */) {
			/*
			Retrieve the category from the visible divs hidden input. Retreive the valid method types
			for that category and disable checkboxes that are not valid for that category.
			Then set the state of the checkboxes.
			*/
			if (checkboxes.length > 0) {
				var category = $('#filter-action .input-section-div:visible input:hidden[name="category"]').val();

				if (category == '') {
					Utils.setEnabled(checkboxes, true);
					setInitialCheckedState(checkboxes, setToDefault);
					
				}
				else {
					// Retrieve valid method types for this category and set sensitivity
					$.ajax({
						url: '{% url "methods-method_types" %}',
						data : {'category' : category},
						success: function(resp) {
							checkboxes.each(function() {
								Utils.setEnabled($(this), isCheckboxInChoices($(this), resp.choices));
							});
							setInitialCheckedState(checkboxes, setToDefault);
						}
					});
				}
			}
		}
		
		function createCheckboxes(
				url, /*String */ 
				data, /* Object */
				setState, /* optional function which sets the state of the checkboxes */
				listEl, /*jquery element */
				fieldName, /* String */ 
				choiceIdBase /* String */) {
			/* 
			Make an ajax call to retrieve the values to be used to create the checkboxes within the list element listEl.
			The checkboxes will be created with a name attribute set to fieldName and their id attribute
			set to choiceIdBase-i. After the checkboxes are created and a change handler added to save state, setState if
			specified is called to set the state of the checkboxes.
			 */
			$.ajax({
				url: url,
				data: data,
				success: function(resp) {
					listEl.html(getCheckboxListHtml(resp.choices, fieldName, choiceIdBase))
					
					var checkboxes = listEl.find('input[type="checkbox"]');

					// Add change handler to save the state of the checkbox
					checkboxes.change(function() {
						// Make sure at least one checkbox is checked
						var checkedEls = checkboxes.filter(':checked');
						if (checkboxes.filter(':enabled').filter(':checked').length > 0) {
							var elId = $(this).attr('id')
							if ($(this).is(':checked')) {
								sessionStorage[elId] = 'on';
							}
							else {
								sessionStorage[elId] = 'off';
							}
						}
						else {
							//Don't allow change operation if element is enabled
							$(this).filter(':enabled').prop('checked', true);
						}
					});
					
					if (setState) {
						setState(checkboxes, false);
					}
				}
			});			
		}
		
		function isCheckboxInChoices(checkboxEl /* jquery element */, choices /* array[Object]*/) {
			/*
			Return true if checkboxEl's value is in choices. This function assumes that
			each object in choices as a "value" property.
			*/
			var thisValue = checkboxEl.attr('value');
			for (var i = 0; i < choices.length; i++){
				if (thisValue == choices[i].value) {
					return true;
				}
			}
			return false;
		}
		
		function showSearchSubcategory(buttonEl /* jquery element */, setToDefault /* Boolean */) {
			/*
			Make buttonEl the currently active element and make the corresponding divs visible.
			All others should be hidden. If setToDefault is true, set all input values on the visible div to their 
			default state.
			Note: that this does not include setting the state of the Limit By section of the filtered
			search.
			*/
			
			// Update buttonEl and the currently active sibling button's visual state. 
			buttonEl.removeClass('not-active').addClass('active');
			buttonEl.siblings('.active').removeClass('active').addClass('not-active');
			
			// Show the associated div and hide the currently visible sibling div (if any)
			var divToShow = buttonEl.data('actionDivId');
			divToShow.show(0, buttonEl.data('showCallback'))
			divToShow.siblings(':visible').hide();
			
			// Show the associated header div (if any) and hide the currently visibling sibling div.
			var headerToShow = buttonEl.data('headerId');
			if (headerToShow) {
				headerToShow.show();
				headerToShow.siblings(':visible').hide();
			}
			
			// Set default state if requested. 
			if (setToDefault) {
				divToShow.find('input[type="text"]').val('').change();
				divToShow.find('textarea').val('').change();
				divToShow.find('select').val('').change();				
			}
			setInitialCheckedState(divToShow.find('input[type="checkbox"]'), setToDefault)
		}
		
		function activeCategory() {
			var div = $('#filter-action>div:visible');
			var cat = div.find('input[name="category"]');
			return $('#filter-action>div:visible').find('input[name="category"]').val();
		}
		
		function isMediaNameEnabled() {
			return $.inArray(activeCategory(), ['', 'chemical']) !== -1;
		}
		function isSourceEnabled(category) {
			return $.inArray(activeCategory(), ['', 'chemical', 'statistical']) !== -1;
		}
		function isInstrumentationEnabled(category) {
			return $.inArray(activeCategory(), ['', 'chemical']) !== -1;
		}
		
		function setLimitBySelectSensitivity() {
			/*
			Set the sensitivity of the select elements in the limit by filtered search section for the section
			represented by buttonEl.
			*/
			$('.limit-by-select-field').filter('input[type="hidden"]').each(function() {
				var enableFn = $(this).data('enableFn');
				if (enableFn) {
					Utils.setSelect2Enabled($(this), enableFn());
				}
			});
		}
		
		function setFilteredSearchButtonState() {
			var searchBtn = $('#filtered-action-div .search-button');
			var activeDiv = $('#filter-action>div:visible');
			var activeDivId = activeDiv.attr('id');
			var category = activeDiv.find('input[name="category"]').val();
			if ((activeDivId === 'analyte-search-div') || (activeDivId === 'regulatory-search-div')) {
				Utils.setEnabled(searchBtn, (activeDiv.find('input[name="analyte_name"]').val() || activeDiv.find('input[name="analyte_code"]').val()));
			}
			else {
				Utils.setEnabled(searchBtn, true);
			}
		}
	
		$(document).ready(function() {
			// Add data to select2 elements
			$('#media-name-field').data('enableFn', isMediaNameEnabled);
			$('#source-field').data('enableFn', isSourceEnabled);
			$('#instrumentation-field').data('enableFn', isInstrumentationEnabled);
			
			// Dynamically create option menus
			Utils.createSelectMenu('media-name-field','{% url "methods-media_name" %}');
			Utils.createSelectMenu('source-field', '{% url "methods-source" %}');
			Utils.createSelectMenu('instrumentation-field', '{% url "methods-instrumentation" %}');
			Utils.createSelectMenu('gear-type-field', '{% url "methods-gear_types" %}');
			Utils.createSelectMenu('study_objective',  '{% url "methods-stat_objectives" %}');
			Utils.createSelectMenu('item_type', '{% url "methods-stat_item_types" %}');
			Utils.createSelectMenu('analysis_type', '{% url "methods-stat_analysis_types" %}');
			Utils.createSelectMenu('publication_source_type', '{% url "methods-stat_publication_source" %}');
			Utils.createSelectMenu('media_emphasized', '{% url "methods-stat_media_emphasized" %}');
			Utils.createSelectMenu('special_topic', '{% url "methods-stat_special_topics" %}');
			
			// Dynamically create checkboxes 
			createCheckboxes('{% url "methods-method_types" %}', {}, setMethodTypeState, $('#method-type-selections'), 'method_type', 'method_type-');
			createCheckboxes('{% url "methods-subcategories" %}', {'category' : 'Chemical'}, setInitialCheckedState, $('#chemical-subcategory-selections'), 'subcategory', 'chemical-subcategory-');
			createCheckboxes('{% url "methods-subcategories" %}', {'category' : 'Toxicity assay'}, setInitialCheckedState, $('#toxicity-subcategory-selections'), 'subcategory', 'toxicity-subcategory-');
			createCheckboxes('{% url "methods-subcategories" %}', {'category' : 'Statistical'}, setInitialCheckedState, $('#statistical-subcategory-selections'), 'subcategory', 'statistical-subcategory-');

			// Make select2 out of static option menus.
			$('select.static-field').select2({
				width: 'off',
				minimumResultsForSearch: 15,
				placeholder: 'All',
				allowClear: true,
			});
			
			// Initialize analyte name/code selection menus
			AnalyteSelect.init($('#analyte-search-div'), {
				dynamic: true,
				searchUrl: '{% url "methods-analyte_select" %}',
				maxSelectionSize: 3,
				setSearchButtonState: setFilteredSearchButtonState,
			});
			AnalyteSelect.init($('#microbiological-search-div'), {
				dynamic: false,
				searchUrl: '{% url "methods-analyte_select" %}',
				maxSelectionSize: 3,
				setSearchButtonState: setFilteredSearchButtonState
			});
			AnalyteSelect.init($('#physical-search-div'), {
				dynamic: false,
				searchUrl: '{% url "methods-analyte_select" %}',
				maxSelectionSize: 3,
				setSearchButtonState: setFilteredSearchButtonState
			});
			AnalyteSelect.init($('#regulatory-search-div'),{
				dynamic : true,
				searchUrl: '{% url "methods-analyte_select" %}',
				maxSelectionSize: 1,
				setSearchButtonState: setFilteredSearchButtonState
			});
			
			// Add change handler to save state of inputs with class static-field 
			$('.static-field').change(function() {
				sessionStorage[$(this).attr('id')] = $(this).val();
			});
			
			// Add click handler for the subsection show/hide buttons 
			$('.subcategory-action-div').each(function() {
				var contentDiv = $(this).find('.subsection-div');
				$(this).find('.show-hide-toggle').click(function() {
					var buttonImgEl = $(this).find('img');
					if ($(this).attr('alt') == 'show') {
						$(this).attr('title', 'Hide subsection');
						$(this).attr('alt', 'hide');
						buttonImgEl.attr('src', '{{ STATIC_URL }}images/collapse.png');
						contentDiv.show();
					}
					else {
						$(this).attr('title', 'Show subsection');
						$(this).attr('alt', 'show');
						buttonImgEl.attr('src', '{{ STATIC_URL }}images/expand.png');
						contentDiv.hide();
					}
				});
			});
			
			// Associate the id of the div to show/hide for each subcategory button and set show callback if necessary 
			$('#keyword-search-button').data('actionDivId', $('#keyword-search-div'));
			$('#number-search-button').data('actionDivId', $('#number-search-div'));
			$('#browse-search-button').data('actionDivId', $('#browse-methods-div'));
			$('#browse-search-button').data('showCallback', updateBrowseMethodCount);
			
			// In addition to actionDivId and showCallback (as needed), the filtered search buttons should set headerId to the
			// correct header, set the form's action url (actionUrl), and set category and subcategory to the button's category/subcategory.
			$('#analytes-search-button').data('actionDivId', $('#analyte-search-div'));
			$('#analytes-search-button').data('headerId', $('#analytes-header'));
			$('#analytes-search-button').data('actionUrl', '{% url "methods-analyte_results" %}');
			
			$('#chemical-search-button').data('actionDivId', $('#chemical-search-div'));
			$('#chemical-search-button').data('headerId', $('#chemical-header'));
			$('#chemical-search-button').data('actionUrl', '{% url "methods-results" %}');
			
			$('#microbiological-search-button').data('actionDivId', $('#microbiological-search-div'));
			$('#microbiological-search-button').data('headerId', $('#microbiological-header'));
			$('#microbiological-search-button').data('actionUrl', '{% url "methods-analyte_results" %}');
			
			$('#community-search-button').data('actionDivId', $('#community-search-div'));
			$('#community-search-button').data('headerId', $('#community-header'));
			$('#community-search-button').data('actionUrl', '{% url "methods-analyte_results" %}');
			
			$('#toxicity-search-button').data('actionDivId', $('#toxicity-search-div'));
			$('#toxicity-search-button').data('headerId', $('#toxicity-header'));
			$('#toxicity-search-button').data('actionUrl', '{% url "methods-results" %}');
			
			$('#physical-search-button').data('actionDivId', $('#physical-search-div'));
			$('#physical-search-button').data('headerId', $('#physical-header'));
			$('#physical-search-button').data('actionUrl', '{% url "methods-analyte_results" %}');
			
			$('#statistical-search-button').data('actionDivId', $('#statistical-search-div'));
			$('#statistical-search-button').data('headerId', $('#statistical-header'));
			$('#statistical-search-button').data('actionUrl', '{% url "methods-statistical_results" %}');
			
			$('#regulatory-search-button').data('actionDivId', $('#regulatory-search-div'));
			$('#regulatory-search-button').data('headerId', $('#regulatory-header'));
			$('#regulatory-search-button').data('actionUrl', '{% url "methods-regulatory_results" %}');			
						
			// Add click handlers for subcategory buttons 
			$('.subcategory-button').click(function() {
				// Save currently active subcategory button's id for the subcategory div.
				sessionStorage[$(this).parents('.subcategory-selection-div').attr('id')] = $(this).attr('id');
				
				showSearchSubcategory($(this), true);
				
				// Set div's elements to default and update session storage by forcing change event.
				var divToShow = $(this).data('actionDivId');
				divToShow.find('input[type="text"]').val('').change();
				divToShow.find('textarea').val('').change();
				setInitialCheckedState(divToShow.find('input[type="checkbox"]', true));
				
				// If this is a filtered search subcategory then we also need to update the Limit by section.
				if ($(this).parents('#filtered-selection-div')) {
					setLimitBySelectSensitivity();
					
					// Attach the appropriate action to the limit by form
					$('#filtered-search-limits form').attr('action', $(this).data('actionUrl'));
									
					// Default selects to 'all' selection.
					$('.limit-by-select-field').select2('val', '', true);
					$('.filter-select').select2('val', '', true);
					$('.filter-multiselect').select2('val', '', true);
					$('select.static-field').select2('val', '', true);
					
					// Set method type checkbox state. Default all enabled inputs to true.
					setMethodTypeState($('#method-type-selections input'), true);
					
					// Set sensitivity of the search button
					setFilteredSearchButtonState();
				}
			});
			
			// Add a click handler for the search button in the filter search section.
			$('#filtered-search-div .search-button').click(function() {
				var limitByForm = $('#filtered-search-limits form');
				var actionDiv = $('#filter-action>div:visible');
				
				//Remove any hidden inputs from the last search 
				limitByForm.find('input:hidden').not('.limit-by-select-field').remove();
				
				//Add hidden inputs to limitByForm from the currently visible subcategory form. 
				var hiddenInputHtml = '';
			
				actionDiv.find(':input').filter('[name]').filter(':enabled').each(function() {
					if ($(this).is('[type="checkbox"]') && !($(this).is(':checked'))) {
						return;
					}
					// multi select elements should have each value sent as a separate parameter 
					if ($(this).hasClass('filter-multiselect')) {
						var values = $(this).select2('val');
						var name = $(this).attr('name');
						for (var i = 0; i < values.length; i++) {
							hiddenInputHtml += Utils.getHiddenInputHtml(name, values[i]);
						}						
					}
					else {
						hiddenInputHtml += Utils.getHiddenInputHtml($(this).attr('name'), $(this).val());
					}
				});
				
				limitByForm.append(hiddenInputHtml);
				
				limitByForm.submit();
				
				return false;
			});
			
			
			//Check to make sure that at least one method type is checked.
			$('#method-type-selections input[type="checkbox"]').click(function(){
				if ($(this).is('not(:checked)') && $(this).siblings.is(':not(checked)')) {
					$(this).prop('checked', true);
				}
			});
			
			// Preprocess the Browse submit to set sessionStorage to clear any visible divs on browse results page.
			$('#browse-methods-div form').submit(function() {
				sessionStorage.clearBrowsePage = 'true';
				return true;
			});
			
			// Initialize data from sessionStorage
			if (sessionStorage['general-selection-div']) {
				showSearchSubcategory($('#' + sessionStorage['general-selection-div']), false);
			}
			if (sessionStorage['filtered-selection-div']) {
				var buttonEl = $('#' + sessionStorage['filtered-selection-div']);
				showSearchSubcategory(buttonEl, false);
				// Attach the appropriate action to the limit by form
				$('#filtered-search-limits form').attr('action', buttonEl.data('actionUrl'));
				setLimitBySelectSensitivity();
			}
			$('.static-field').each(function() {
				$(this).val(sessionStorage[$(this).attr('id')]).change();
			});
			
			// Set sensitivity of Limit by Search button 
			setFilteredSearchButtonState();
		}); 
	</script>
{% endblock %}

{% block page_header %}
    <div id="page-info">
        NEMI is a searchable database of environmental methods, protocols, and procedures 
        that allows scientists and managers to find and compare data-collection methods
        and protocols for all stages of the monitoring process.
    </div>
    <div id="home-header-links">
        <ul>
            <li><a href="{% url 'about' %}">About NEMI</a></li>
            <li><a href="{% url 'glossary' %}">Glossary</a></li>
            <li><a href="{% url 'faqs' %}">FAQ</a></li>
        </ul>
    </div>
    <div id="whats-new-div">
        <div id="news-feed-title">
            <span>What's new with NEMI</span>
        </div>
        <div id="news-feed">
            {% for item in news_items %}
                {{ item.headline|safe }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block page-content %}
    <div id="home-page-content">
	<div id="general-search-div" class="section-div">
        <div class="section-header-banner-div">
            <h4>&nbsp;</h4>
        </div>
    	<h4>GENERAL SEARCH</h4>
		<div id="general-subcategory-div>" class="subcategory-div">
			<div id="general-selection-div" class="subcategory-selection-div">
				<ul>
					<li class="active subcategory-button" id="keyword-search-button">Keyword</li>
					<li class="not-active subcategory-button" id="number-search-button">Number</li>
					<li class="not-active subcategory-button" id="browse-search-button">Browse</li>
				</ul>
			</div>
			<div id="general-action-div" class="subcategory-action-div">
		    	<div id="keyword-search-div" class="input-section-div">
                   	<form action="{% url 'methods-keyword' %}" method="get">
                        <label for="keyword-search-field">Search entire NEMI database by keyword:</label>
                        <input type="text" id="keyword-search-field" name="keyword_search_field" class="static-field"/>
                        <div class="search-button-div">
						  <input class="search-button" type="submit" value="SEARCH"/>
                        </div>
                	</form>
            	</div>
            	<div id="number-search-div" class="input-section-div" style="display:none;">
                   	<form action="{%url 'methods-results' %}" method=get>
                        <label for="number-search-field">Search for a method number:</label>
                        <input id="number-search-field" type="text" name="method_number" class="static-field"/>  
						<div class="search-button-div">
							<input class="search-button" type="submit" value="SEARCH"/>
						</div>
               		</form>
            	</div>		
            	<div id="browse-methods-div" class="input-section-div" style="display: none;">
            		<form action="{% url 'methods-browse' %}" method="get">
                        <label>Browse the entire database:<span id="browse-count-span"></span></label>
	            		<div class="search-button-div">
	            			<input class="search-button" type="submit" value="BROWSE" />
	            		</div>
	            	</form>
            	</div>				
			</div>
		</div>
	</div>
	<div id="filtered-search-div" class="section-div">
        <div class="section-header-banner-div">
            <h4>&nbsp;</h4>
        </div>
		<h4>FILTERED SEARCH</h4>
		<div id="filtered-subcategory-div>" class="subcategory-div">
			<div id="filtered-selection-div" class="subcategory-selection-div">
				<ul>
					<li class="active subcategory-button" id="analytes-search-button">Analytes</li>
					<li class="not-active subcategory-button" id="chemical-search-button">Chemical</li>
					<li class="not-active subcategory-button" id="microbiological-search-button">Microbiological</li>
					<li class="not-active subcategory-button" id="community-search-button">Community</li>
					<li class="not-active subcategory-button" id="toxicity-search-button">Toxicity</li>
					<li class="not-active subcategory-button" id="physical-search-button">Physical</li>
					<li class="not-active subcategory-button" id="statistical-search-button">Statistical</li>
					<li class="not-active subcategory-button" id="regulatory-search-button">Regulatory</li>
				</ul>
			</div>
			<div id="filtered-action-div" class="subcategory-action-div">
				<div id="filter-specific-div">
					<div id="filter-header">
						<div id="analytes-header">
							Search by ANALYTES
						</div>
						<div id="chemical-header" style="display: none;">
							Limit search to CHEMICAL methods
						</div>
						<div id="microbiological-header" style="display: none;">
							Limit search to MICROBIOLOGICAL methods
						</div>
						<div id="community-header" style="display: none;">
							Limit search to POPULATION/COMMUNITY methods
						</div>
						<div id="toxicity-header" style="display: none;">
							Limit search to TOXICITY methods
						</div>
						<div id="physical-header" style="display: none;">
							Limit search to PHYSICAL methods
						</div>
						<div id="statistical-header" style="display: none;">
							Limit search to STATISTICAL methods
						</div>
						<div id="regulatory-header" style="display: none;">
							Limit search to REGULATORY methods
						</div>
					</div>
					<div id="filter-action">
						<div id="analyte-search-div" class="input-section-div">
							<form>
                                <div class="form-entry analyte-name-input">
                                    <label id="analyte-name-select-label" for="analyte-name-select">Analyte name(s):</label>
                                    <input type="hidden" class="filter-multiselect" id="analyte-name-select" name="analyte_name" />
                                </div>
                                <div class="form-entry analyte-kind-separator">
                                    <label>OR</label>
                                    <span>&nbsp;</span>                                                                    
                                </div>
                                <div class="form-entry analyte-code-input">
                                    <label id="analyte-code-select-label" for="analyte-code-select">Analyte code(s):</label>
                                    <input type="hidden" class="filter-multiselect" id="analyte-code-select" name="analyte_code" />
                                </div>
                                <input type="hidden" name="category" value=""/>
							</form>
						</div>
                        <div id="microbiological-search-div" class="input-section-div" style="display: none;">
                            <form>
                                <div class="form-entry analyte-name-input">
                                    <label id="microbiological-analyte-name-select-label" for="microbiological-analyte-name-select">Analyte name(s):</label>
                                    <input type="hidden" class="filter-multiselect" id="microbiological-analyte-name-select" name="analyte_name" />
                                </div>
                                <div class="form-entry analyte-kind-separator">
                                    <label>OR</label>
                                    <span>&nbsp;</span>                                                                    
                                </div>
                                <div class="form-entry analyte-code-input">
                                    <label id="microbiological-analyte-code-select-label" for="microbiological-analyte-code-select">Analyte code(s):</label>
                                    <input type="hidden" class="filter-multiselect" id="microbiological-analyte-code-select" name="analyte_code" />
                                </div>
                                
                                <input type="hidden" name="category" value="biological"/>
                                <input type="hidden" name="subcategory" value="Microbiological" />
                            </form>
                        </div>
                        <div id="physical-search-div" class="input-section-div" style="display: none;">
                            <form>
                                <div class="form-entry analyte-name-input">
                                    <label id="physical-analyte-name-select-label"for="physical-analyte-name-select">Analyte name(s):</label>
                                    <input type="hidden" class="filter-multiselect" id="physical-analyte-name-select" name="analyte_name" />
                                </div>
                                <div class="form-entry analyte-kind-separator">
                                    <label>OR</label>
                                    <span>&nbsp;</span>                                                                    
                                </div>
                                <div class="form-entry analyte-code-input">
                                    <label id="physical-analyte-code-select-label" for="physical-analyte-code-select">Analyte code(s):</label>
                                    <input type="hidden" class="filter-multiselect" id="physical-analyte-code-select" name="analyte_code" />
                                </div>
                                
                                <input type="hidden" name="category" value="physical"/>
                            </form>
                        </div>
                        <div id="regulatory-search-div" class="input-section-div" style="display: none;">
                            <form>
                                <div class="form-entry analyte-name-input">
                                    <label id="regulatory-analyte-name-select-label" for="regulatory-analyte-name-select">Analyte name(s):</label>
                                    <input type="hidden" class="filter-select" id="regulatory-analyte-name-select" name="analyte_name" />
                                </div>
                                <div class="form-entry analyte-kind-separator">
                                    <label>OR</label>
                                    <span>&nbsp;</span>                                                                    
                                </div>
                                <div class="form-entry analyte-code-input">
                                    <label id="regulatory-analyte-code-select-label" for="regulatory-analyte-code-select">Analyte code(s):</label>
                                    <input type="hidden" class="filter-select" id="regulatory-analyte-code-select" name="analyte_code" />
                                </div>
                                <input type="hidden" name="category" value="regulatory"/>
                             </form>
                        </div>
						<div id="chemical-search-div" class="input-section-div" style="display: none;">
							<form>
								<div class="form-entry">
									<span class="header">Chemical subcategories:</span><br />
									<ul id="chemical-subcategory-selections" >
									</ul>
								</div>
								<input type="hidden" name="category" value="chemical"/>
							</form>					
						</div>
						<div id="community-search-div" class="input-section-div" style="display: none;">
							<form>
                                <div class="form-entry" id="analyte-type-input">
                                    <label for="analyte-type-field">Analyte type:</label>
                                    <select id="analyte-type-field" name="analyte_type" class="static-field" style="width: 15em;">
                                        <option></option>
                                        <option value="Algae">Algae</option>
                                        <option value="Fish">Fish</option>
                                        <option value="Macroinvertebrate">Macroinvertebrate</option>
                                    </select>
                                </div>
                                <div class="form-entry" id="waterbody-type-input">
                                    <label for="waterbody-type-field">Waterbody type:</label>
                                    <select id="waterbody-type-field" name="waterbody_type" class="static-field" style="width: 15em;">
                                        <option ></option>
                                        <option value="Estuary">Estuary</option>
                                        <option value="Lake">Lake</option>
                                        <option value="Ocean">Ocean</option>
                                        <option value="River">River</option>
                                        <option value="Non-wadeable stream">Non-wadeable stream</option>
                                        <option value="Wadeable stream">Wadeable stream</option>
                                        <option value="Wetland">Wetland</option>
                                    </select>
                                </div>
                                <div class="form-entry" id="gear-type-input">
                                    <label for="gear-type-field">Gear type:</label>
                                    <input type="hidden" class="filter-select" id="gear-type-field" name="gear_type" />
                                </div>
                                <input type="hidden" name="category" value="biological"/>
                                <input type="hidden" name="subcategory" value="population/community" />
							</form>
						</div>
						<div id="toxicity-search-div" class="input-section-div" style="display: none;">
							<form>
								<div>
									<span class="header">Toxicity subcategories</span><br />
									<ul id="toxicity-subcategory-selections"></ul>
								</div>
                                <div class="form-entry" id="matrix-input">
                                    <label for="matrix-field">Matrix:&nbsp;</label>
                                    <select id="matrix-field" name="matrix" class="static-field" style="width: 10em;">
                                        <option></option>
                                        <option value="Freshwater">Freshwater</option>
                                        <option value="Saltwater">Saltwater</option>
                                        <option value="Both">Both</option>
                                     </select>
                                </div>
								
								<input type="hidden" name="category" value="toxicity assay"/>
							</form>
						</div>
						<div id="statistical-search-div" class="input-section-div" style="display: none;">
							<form>
								<div>
									<span class="header">Statistical subcategories:</span><br />
									<ul id="statistical-subcategory-selections"></ul> 
								</div>
                                <div class="form-entry" id="study-objective-input">
                                    <label for="study_objective">What are you interested in:</label>
                                    <input type="hidden" class="filter-select" id="study_objective" name="study_objective" />
                                </div>
                                <div class="form-entry" id="item-type-input">
                                    <label for="item_type">Item type:</label>
                                    <input type="hidden" class="filter-select" id="item_type" name="item_type" />
                                </div>
                                <div class="form-entry" id="complexity-input">
                                    <label for="complexity">Complexity:</label>
                                    <select id="complexity" name="complexity" class="static-field" style="width: 8em;">
                                        <option ></option>
                                        <option value="Low">Low</option>
                                        <option value="Medium">Medium</option>
                                        <option value="High">High</option>
                                    </select>
                                </div>
                                <div class="form-entry" id="analysis-type-input">
                                    <label for="analysis_type">Analysis type:</label>
                                    <input type="hidden" class="filter-select" id="analysis_type" name="analysis_type" />
                                </div>
                                <div class="form-entry" id="publication-source-type-input">
                                    <label for="publication_source_type">Publication source type:</label>
                                    <input type="hidden" class="filter-select" id="publication_source_type" name="publication_source_type">
                                </div>
                                <div class="form-entry" id="media-emphasized-input">
                                    <label for="media_emphasized">Media emphasized:</label>
                                    <input type="hidden" class="filter-select" id="media_emphasized" name="media_emphasized" />
                                </div>
                                <div class="form-entry" id="special-topic-input">
                                    <label for="special_topic">Special topic:</label>
                                    <input type="hidden" class="filter-select" id="special_topic" name="special_topic" />
                                </div>
                                <input type="hidden" name="category" value="statistical"/>
							</form>
						</div>
					</div>
				</div>
				<div id="limit-by-section">
                    <div id="limit-by-header">
                        <button class="show-hide-toggle" title="Hide subsection" type=button>
                            <img src="{{ STATIC_URL }}/images/collapse.png" alt="hide" /> 
                        </button>
					   <h5>Limit by: (optional)</h5>
                    </div>
					<div id=filtered-search-limits class="input-section-div subsection-div">
						<form action="{% url 'methods-analyte_results' %}" method="get">
                            <div class="form-entry" id="media-name-input">
                                <label id="media-name-field-label" for="media-name-field">Media name:</label>
                                <input type="hidden" class="limit-by-select-field" id="media-name-field" name="media_name"/>
                            </div>
                            <div class="form-entry" id="source-field-input">
                                <label id="source-field-label" for="source-field">Source:</label>
                                <input type="hidden" class="limit-by-select-field" id="source-field" name="source" />
                            </div>
                            <div class="form-entry" id="instrumentation-field-input">
                                <label id="instrumentation-field-label" for="instrumentation-field">Instrumentation:</label>
                                <input type="hidden" class="limit-by-select-field" id="instrumentation-field" name="instrumentation" />
                            </div>
							<div id="method-type-input">
								<span class="header">Method type:</span><br />
								<ul id="method-type-selections" >
								</ul>
							</div>
						</form>
					</div>
				</div>
				<div class="search-button-div">
					<input class="search-button" type="button" value="SEARCH"/>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock %}

