{% extends "base_detail_stats.html" %}

{% block title %}NEMI Statistical Source Details{% endblock %}

{% block page_title %}Statistical Source Details - {{ data.method.source_method_identifier }}{% endblock %}

{% block page_actions %}
		<input style="margin: 4px;" type="button" value="Edit Citation" onclick="location.href='{% url "sams-update_method" data.method.method_id %}';"/> 
		or
		<input style="margin: 4px;" type="button" value="Submit to NEMI review board" onclick="location.href='{% url "sams-submit_for_review" data.method.method_id %}';"/>		
{% endblock %}