{% extends "base.html" %}

{% block title %}Update Statistical Methods{% endblock %}

{% block page_title %}Update Statistical Methods{% endblock %}

{% block content %}
	<h3>List of statistical methods that can be edited</h3>
		<table class="data-table">
			<tr>
				<th></th><th>Source Abbreviation</th><th>Title</th>
			</tr>
			{% for method in source_methods %}
				<tr>
					<td><input type="button" value="Update" onclick="location.href='{% url sams-update_method method.source_citation_id %}';"></td>
					<td>{{ method.source_citation }}</td>
					<td>{{ method.title }}</td>
				</tr>
			{% endfor %}
		</table>
{% endblock %}