{% extends "base.html" %}
<!-- Extend this template to implement standard method summary pages -->

{% block title %}NEMI Method Summary{% endblock %}

{% block page_style %}
	<!--  Style sheets for ui-dialog plugins -->
	<link type="text/css" href="{{ STATIC_URL }}styles/jquery-ui-1.10.0.custom/smoothness/jquery-ui-1.10.0.custom.css" rel="stylesheet" media="screen"/>
{% endblock %}

{% block page_script %}
	<script src="{{ STATIC_URL }}script/jquery-ui/jquery-ui-1.10.0.custom.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			// Initialize header information dialogs 
			$('#header-info').dialog({
				 autoOpen: false,
				 title: 'Basic Dialog',
				 height: 200,
				 width: 300
			});
			// Add click event handler to all show/hide detail buttons 
			$('.show-hide-detail-div').each(function(){
					var hiddenDivEl = $(this).find('.hidden-details-div');
					$(this).find('button').click(function(){
					var imgEl = $(this).find('img');
					
					if (imgEl.attr('alt') == 'show'){
						imgEl.attr('src', "{{ STATIC_URL }}/images/triangle-down-image36.gif");
						imgEl.attr('alt', 'hide');
						imgEl.attr('title', 'Hide details');
						hiddenDivEl.show();
					}
					else{
						imgEl.attr('src', "{{ STATIC_URL }}/images/triangle-right-image36.gif");
						imgEl.attr('alt', 'show');
						imgEl.attr('title', 'Show details');
						hiddenDivEl.hide();
					}					
				});
			});
		});
		// Show field information dialogs 
		function showInfo(header, info) {
			var dialogEl = $('#header-info');
			dialogEl.html(info);
			// This preprends {{ STATIC_URL}} to any img tag in info
			dialogEl.find('img').each(function(){
				var src = $(this).attr("src");
				$(this).attr("src", "{{ STATIC_URL }}" + src);
			});
			
			dialogEl.dialog('option', 'title', header);
			dialogEl.dialog('option', 'position', 'center');
			
			if (!dialogEl.dialog('isOpen')){
				dialogEl.dialog('option', 'height', 200);
				dialogEl.dialog('option', 'width', 300);
				dialogEl.dialog('open');	
			}
			
		};		
	</script>
{% endblock %}

{% block page_info %}
	<br />
	<b style="font-size:large;">Summary of Method {{ data.source_method_identifier|safe }}</b>
	<br />
	<br />
{% endblock %}

{% block page-content %}
	<div id="method-summary-content">
		{% block header_info %}
			<!--  Place holder for the field information dialog  -->
			<div id="header-info" style="display: none;">
				<p>Place holder</p>
			</div>
		{% endblock %}
		{% block summary_info %}<!-- Insert method summary information here -->{% endblock %}
	</div>
{% endblock %}