{% extends "base_results.html" %}

{% block title %}NEMI Keyword Search Results{% endblock %}

{% block page_style %}
	{{ block.super }}
	<style>
		.empty-div {
			font-size: medium;
			display: inline-block;
		}
		.results-nav {
			float: right;
		}
 		.results-nav, .results-nav a{
			color: DarkGoldenRod;
			font-size: medium;
		}
	</style>
{% endblock %}

{% block page_specific_info %}
	If you have any questions or comments, or if you do not get the results you expect, send us feedback, including the search terms
    	you used and what method or methods you expected to see but didn't.
{% endblock %}

{% block page_content_title %}
	KEYWORD RESULTS for {{ keyword }}
{% endblock %}
{% block results_content %}
	{% if results.object_list %}
		<div id="results">
		<br />
			{% include "results_nav.html" %}
			<br />
			<table class="data-table" style="width: 100%">
				<thead>
					<tr>
						<th class="sorter-false"></th>
						<th class="sorter-false">Method Number</th>
						<th class="sorter-false">Descriptive Method Name</th>
						<th class="sorter-false">Method Source</th>
						<th class="sorter-false">Link to Method</th>
						<th class="sorter-false">Search Ranking</th>
						
					</tr>
				</thead>
				</tbody>
					{% for r in results.object_list %}
						<tr>
							<td class="view-button"><a class="view-button" title="View method details" href="{% url methods-method_summary r.METHOD_ID %}">View</a></td>
							<td>{{ r.METHOD_NUMBER|safe }}</td>
							<td>{{ r.METHOD_DESCRIPTIVE_NAME }}</td>
							<td>{{ r.METHOD_SOURCE}}</td>
							<td>
								{% if r.MIMETYPE %}
									<a href="{% url methods-pdf method_id=r.METHOD_ID %}" 
										title="Click to download PDF version of this method's documentation">
										<img src="{{ STATIC_URL }}images/pdf_icon.gif" alt="Adobe Acrobat (pdf) icon">Download full method now (PDF file)
									</a>
								{% elif r.LINK_TO_FULL_METHOD %}				
									This is a proprietary method. 
									<a class="popup" href="javascript:showOnNewWindow('{{  r.LINK_TO_FULL_METHOD }}')" 
									title="Link to method owner's method documentation (in a new window)">
									Please visit the method owner's site for method documentation</a>								
								{% else %}
									Method .pdf will be loaded into the database soon. Please contact the webmaster if you are in need of the full method.
								{% endif %}
							</td>
							<td>{{ r.METHOD_SUMMARY_SCORE }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<br/>
			{% include "results_nav.html" %}
		</div>
	{% else %}
		<p>No data found.</p>
	{% endif %}
{% endblock %}

{% block results_actions %}{% endblock %}