{% extends "base_search.html" %}

{% block title %}NEMI Tabular Regulatory Method Report{% endblock %}

{% block page_title %}Search Tabular Regulatory Method Report {% endblock %}

{% block search_box %}
	<form action={% url methods-tabular_reg %} method="get">
		<p>{{ search_form.analyte.label }}:&nbsp;{{ search_form.analyte }}&nbsp;<input id="search-button" type="submit" value="Search NEMI"/></p>
	</form>
{% endblock %}

{% block results_box %} 
	{% if show_results %}
		{% if results %}
			<table class="tablesorter data-table" id="sort-table" style="width: 100%">
				<thead>
					<tr>
						<th>Analyte Name</th>
						<th>EPA</th>
						<th>USGS</th>
						<th>Standard Methods</th>
						<th>ASTM</th>
						<th>Other</th>
					</tr>
				</thead>
				<tbody>
					{% for r in results %}
						<tr>
							<td>{% include "analyte_synonyms.html" with analyte_name=r.r.analyte_name analyte_code=r.analyte_code syn=r.syn %}</td>
							<td class="view-button" style="text-align: left;">
								{% if r.r.epa_rev_id %}
									<a title="View EPA method details" href="{% url methods-method_summary_reg r.r.epa_rev_id %}">View</a><br /><br />{{ r.r.epa|safe }}
								{% endif %}
							</td>	
							<td class="view-button" style="text-align: left;">
								{% if r.r.usgs_rev_id %}
									<a title="View USGS method details" href="{% url methods-method_summary_reg r.r.usgs_rev_id %}">View</a><br /><br />{{ r.r.usgs|safe }}
								{% endif %}
							</td>
							<td class="view-button" style="text-align: left;">
								{% if r.r.standard_methods_rev_id %}
									<a title="View standard method details" href="{% url methods-method_summary_reg r.r.standard_methods_rev_id %}">View</a><br /><br />{{ r.r.standard_methods|safe }}
								{% endif %}
							</td>
							<td class="view-button" style="text-align: left;">
								{% if r.r.astm_rev_id %}
									<a title="View ASTM method details" href="{% url methods-method_summary_reg r.r.astm_rev_id %}">View</a><br /><br />{{ r.r.astm|safe }}
								{% endif %}
							</td>
							<td class="view-button" style="text-align: left;">
								{% if r.r.other_rev_id %}
									<a title="View other method details" href="{% url methods-method_summary_reg r.r.other_rev_id %}">View</a><br /><br />{{ r.r.other|safe }}
								{% endif %}
							</td>
						</tr>
					{% endfor %}	
				</tbody>
			</table>		
		{% else %}
			<p>No data found.</p>
		{% endif %}
	{% endif %}
{% endblock %}