{% extends "base_search.html" %}

{% block title %}NEMI Toxicity Search{% endblock %}

{% block page_title %}Search Toxicity Methods{% endblock %}

{% block search_box_body %}
	<form action="{% url methods-toxicity %}" method="get"> 
		<h4> {{search_form.non_field_errors }} </h4>
		<table id="search-table">
		{{ search_form }}
		<tr><td></td><td><input id="search-button" type="submit" value="Search NEMI"/></td></tr>
		</table>			
	</form>
{% endblock %}

{% block results_table_data %}
	{% for r in results %}
		<tr>
			<td class="view-button"><a title="View method details" href="{% url methods-toxicity_method_summary r.method_id %}">View</a></td>		
			<td>{{ r.source_method_identifier|safe }}</td>
			<td>{{ r.method_descriptive_name }}</td>
			<td>{{ r.method_subcategory }}</td>
			<td>{% include "method_source_details.html" %}</td>
			<td>{{ r.media_name|lower|capfirst }}</td>
			<td>{{ r.matrix }}</td>
			<td>{{ r.relative_cost_symbol }}</td>
		</tr>
	{% endfor %}
{% endblock %}	