body {
	font-family: Arial;
	font-size: 12px;
	background-color: #E6FFCC;
}
table{
	border-collapse: collapse;
}
a {
	outline: none;			
}
a:link{
	color: black;
}
a:visited {
	color: black;
}
a:hover{
	color: red;
}
a img{
	border: none;
	padding: 0px;
	margin: 0px;
}
a[class='popup']{
   padding-left: 18px;
   background: transparent url(Icon-Extlink.png) no-repeat center left;
}
.external-link a {
	padding-left: 18px;
	background: transparent url(Icon-Extlink.png) no-repeat center left;
}
.abbrev{
	cursor: help;
}
.disabled {
	color: grey;
}
#page-header{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
	border-bottom: solid darkred 2px;
}
#page-info {
	margin-left: 5px;
	margin-right: 5px;
}
#page-footer {
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
	border-top: solid darkred 2px;
	}
#right-header {
	position: absolute;
	right: 10px;
	display: inline-block;
}
#whats-new-div {
	display: inline-block;
	float: left;
	border: 1px solid black;
	width: 200px;
	background-color: Cornsilk;
}	
.box-header {
	background-color: DarkSeaGreen;
	font-style: italic;
	font-weight: bold;
	border-bottom: 1px solid black;
	padding: 5px;
}
.box-header span {
	padding-top: 5px;
}
#news-feed {
	padding-top: 0px;
	padding-left: 5px;
}
#header-links {
	display: inline-block;
	width: 100px;
	margin-left: 10px;
	height: 100%;
}
#header-links ul {
	list-style-type: none;
	margin: 2px;
	padding: 0px;
}
#header-links li {
	padding-bottom: 4px;
}
.section-div {
	clear: both;
	margin: 0px;
	width: 100%;
}
.section-div h2, .subcategory-action-div h3 {
	color: White;
	padding: 6px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: DarkGreen;
}
.subcategory-action-div h3 {
	position: relative;
	left: -10px;
	width: 100%;
}
.subcategory-div {
	margin: 0px;
	background-color: Cornsilk;
	
}
.subcategory-selection-div {
	display: inline-block;
	float: left;
	width: 200px;
	margin: 0px;
	border-left: 1px solid black;
	background-color: DarkSeaGreen;
}
.subcategory-selection-div ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.subcategory-selection-div li {
	font-size: medium;
	text-align: center;
	border-bottom: 1px solid black;
	padding: 4px;
	
}
.highlight {
	background-color: White;
}
.not-active {
	background-color: DarkSeaGreen;
}
.subcategory-button {
	cursor: pointer;
}
.subcategory-action-div {
	display: inline-block;
	background-color: Cornsilk;
	left: 200px;
	border-left: 1px solid black;
	padding-left: 10px;
}
.subcategory-action-div>div {
	padding-top: 10px;
	padding-left: 10px;
}
.input-section-div .button-div {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.section-spacer-div {
	clear: both;
	height: 30px;
	margin: 0px;
}
/* Style for show-hide toggle button */
.show-hide-toggle {
	border: none;
	background: transparent;
	outline: none;
	cursor: pointer;
}
.general-search-form-table th, .general-search-form-table td {
	text-align: left;
	font-size: medium;
	padding-right: 10px;
}
.no-style-list {
	font-size: medium;
	text-align: left;
	padding-top: 4px;
	}
.no-style-list .header {
	font-weight: bold;
}
.no-style-list ul{
	list-style-type: none;
	font-size: small;
	padding-top: 4px;
	margin: 0px;	
}
.search-button {
	border: solid 1px grey;
	background-color: DarkSeaGreen;
	color: white;
	font-weight: bold;
	font-size: medium;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 10px;
}
.search-button:hover {
	background-color: lightgrey;
	color: black;
}
.search-button.disabled {
	background-color: darkgrey;
	color: lightgrey;
}
#filtered-action-div p {
	font-size: medium;
	font-weight: bold;
}
#analyte-search {
	display: inline-block;
	padding-bottom: 5px;
}
#results-actions {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.nosort {
	padding-left: 5px;
}
/* info-tables use the table format to list information
about an object. The headers are meant to be the left most
column in the table */
.info-table {
	text-align: left;
	border-top: solid #aaaaaa 1px;
	
}
.info-table th {
	background-color: DarkSeaGreen;
	text-align: left;
	padding: 4px;	
	white-space: nowrap;
	border-bottom: 1px solid grey;
}
.info-table td {
	padding: 4px;
	border-bottom: 1px solid grey;
}
/* inside-table is used to format table data without colored headers or borders */
.inside-table th{
	background-color: inherit;
	border: none;
	vertical-align: top;
	padding-top: 2px;
	padding-bottom: 0px;
}
.inside-table td {
	background-color: inherit;
	border: none;
	padding-top: 2px;
	padding-bottom: 0px;
}
.inside-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
/* styles the subcategory list on the Browse Methods page */
.method-subcategory-div {
	position: relative;
	left: 4em;
	margin-right: 4em;
}
/* styles for the button which shows/hides details */
.show-hide-toggle {
	border: none;
	background: transparent;
	outline: none;
}
.show-hide-detail-div table {
	position: relative;
	left: 2em;
}
.show-hide-detail-div ul {
	list-style-type: none;
	margin: 0px;
}
td.view-button {
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
}
.view-button a:link, .view-button a:visited {
	text-decoration: none;
	background: #F0F0F0;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	border: 1px solid darkgrey;
	border-radius: 8px;
}
.view-button a:hover {
	color: black;
	background: #E0E0E0;
}

/* Below this is stuff used in old NEMI review for whether it's used. */
/* Used to style form error message */
.errorlist{
	color: red;
}
#navigation-bar {
	display: inline-block;
	font-size: large;
	margin: 0px;
	
}
#navigation-bar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#navigation-bar li {
	white-space: nowrap;
}
#navigation-menu>li>a{
	 border-right: 2px solid DarkGoldenRod;
}
#navigation-menu>li:last-child>a { 
	border-right: none; /* Doesn't work in IE 8 */
} 
#navigation-menu>li{
	margin-top: 2px;
}
#navigation-bar a:link, #navigation-bar a:visited {
	text-decoration: none;
	color: black;	
	padding: 0.5em;
	margin: 0px;
	background-color: Beige;
}
#navigation-bar a:hover {
	background-color: DarkGoldenRod;
	color: white;
}
#navigation-bar .sub_menu li{
	font-size: small;
}

#page-title {
	background-color: SeaGreen;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-top: 0px;
	margin-bottom: 20px;
}
#search-box {
	display: inline-block;
	margin-top: 0px;
	border: solid DarkSeaGreen 1px;
	padding: 0px;
	width: 700px;
}
#search-box p{
	padding: 4px;
}
#search-box form{
	padding: 4px;
}
#search-box th {
	background-color: white;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	padding: 4px;
	width: 1px;
	border-style: none;
}
#search-box td {
	text-align: left;
	color: black;
	padding: 2px;
	width: 1px;
	border-style: none;
}
#search-box ul{
	list-style-type: none;
	padding: 2px;
	margin: 0px;
}
#search-box-header {
	background-color: DarkSeaGreen;
	color: white;
	padding: 10px;
	margin: 0px;
}
#search-box-header div{
	border: solid black 1px;
	padding: 2px 4px 2px 6px;
	color: black;
	background-color: white;
	width: 1em;
	cursor: pointer;
}
/* The following three styles style the Find analyte by name or kind feature */
#find-analytes {
	cursor: pointer;
}
#kind-element {
	display: inline;
}
#kind-element p, #kind-element ul, #kind-element li{
	display: inline;
}


#data-entry-table th {
	background-color: white;
	text-align: left;
	vertical-align: top;
	padding: 4px;
	width: 1px;
	border: none;
}
#data-entry-table td {
	border: none;
}
#data-entry-table ul {
	list-style-type: none;
}
