{% extends "base_with_header.html" %}

{% block section_name %}{% endblock %}
{% block content %}
	<div id="sams-page-info">
		<div id="navigation-bar">
			{% block navigation %}
				<ul>
					{% if request.user.is_staff %}
						<li><a href="{% url 'sams-method_review_list' %}">Review</a></li>
					{% endif %}
					<li><a href="{% url 'sams-update_method_list' %}">Update pending methods</a></li>			
					<li><a href="{% url 'sams-create_method' %}">Create method</a></li>
				</ul>
			{% endblock %}
		</div>
		<div id="login-div">
			{% block login %}
				{% include "sams/_sams_user_login.html" %}
			{% endblock %}
		</div>
	</div>
	<hr/>
	<div id="sams-entry-content">
        {% block entry_content %}{% endblock %}
    </div>
{% endblock %}