{% extends "sams/base_entry.html" %}

{% block title %}NEMI SAMS Review{% endblock %}

{% block page_style %}
	<!--  Style sheets for tablesorter plugin-->
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/tablesorter.css" media="screen" type="text/css" />
{{% endblock %}

{% block page_script %}
	<script src="{{ STATIC_URL }}script/jquery_tablesorter/jquery.tablesorter.js"></script>
	<script src="{{ STATIC_URL }}script/jquery_tablesorter/jquery.tablesorter.widgets.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			// Sets up the table sorter plugin
			$('#sort-table').tablesorter({
				theme:'nemi',
				widgets: ['zebra']
			});
		});
	</script>
	
{% endblock %}

{% block section_name %}NEMI SAMS Review/Update{% endblock %}

{% block entry_content %}
	<div id="sams-results-div">
		{% if methods %}
			<table class="data-table" id="sort-table" data-sortlist="[[1,0]]" style="width: 100%">
				<thead>
				<tr>
					<th class="sorter-false"></th>
					<th>Source Abbreviation</th>
					<th>Approved</th>
					<th>Title</th>
					<th class="sorter-usLongDate">Date submitted</th>
				</tr>
				</thead>
				<tbody>
				{% for method in methods %}
					<tr>
						<td><input class="default-button" type="button" value="Review" onclick="location.href='{% url 'sams-method_detail_for_approval' method.method_id %}';"></td>
						<td>{{ method.source_method_identifier }}</td>
						<td>{{ method.approved }}</td>
						<td>{{ method.method_official_name }}</td>
						<td>{{ method.date_loaded }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% else %}
			<h3>There are no methods to be reviewed.</h3>
		{% endif %}
	</div>
{% endblock %}