{% extends "base_search.html" %}

{% block title %}NEMI Statistical and Assement Methods Search{% endblock %}

{% block user_login %}
	{% include "sams/_sams_user_login.html" %}
{% endblock %}

{% block page_title %}Statistical And Assessment Methods Search{% endblock %}

{% block page_description %}
	<p><b>Note:</b> Query results are intended to help users discover and obtain statistical and assessment methods information 
	that MAY be useful. Whether a method is appropriate for a specific use requires careful review of the items that the query 
	returns. Please see the <a href="http://acwi.gov/monitoring/workgroups/wis/wqsa/white_paper_Stats_WorkGroup_draft3.pdf">Water Quality Statistics and Assessment Workgroup white paper</a> for more information about this database tool.
	</p>
{% endblock %}

{% block search_box_body %}
	<p>Select criteria from the drop down menus below and press 'Search NEMI' to perform a search.</p>
	<form action="{% url 'sams-statistics' %}" method="get"> 
 		<h4> {{search_form.non_field_errors }} </h4>
		<table id="search-table">
			{% for f in search_form %}
				<tr><th><label for="id_{{ f.html_name }}" title="{{ f.help_text }}">
					{% if f.label|last == "?" %}
						{{ f.label }}
					{% else %}
						{{ f.label }}:
					{% endif %}	
					</label></th><td>{{ f }}</td></tr>
			{% endfor %}
			<tr><td></td><td><input id="search-button" type="submit" value="Search NEMI"/></td></tr>
		</table>
	</form>
{% endblock %}

<!-- Statistical method report does not have header information dialogs -->
{% block header_information_dialog %} {% endblock %}

{% block results_table_header %}
	<th class="nosort"></th> 
	<th>Author</th>
    <th>Title</th>
    <th>Publication Year</th>
	<th>Source Organization</th>
	<th>Link</th>	
	<th>Country</th>
{% endblock %}

{% block results_table_data %}
	{% for r in results %}
		<tr>
			<td class="view-button"><a title="View source details" href="{% url 'sams-method_summary' r.method_id %}">View</a></td> 
			<td>{{ r.source_citation.author }}</td>
  			<td>{{ r.method_official_name }}</td>
  			<td>{{ r.source_citation.publication_year }}</td>
			<td>{{ r.method_source|default_if_none:"Not assigned" }}</td>
			<td><a href={{ r.link_to_full_method }} target="_blank">{{ r.link_to_full_method }}</a></td>
			<td>{{ r.source_citation.country }}</td>
		</tr>
	{% endfor %}
{% endblock %}