{% extends "base.html" %}

{% block title %}NEMI Statistical Source Summary{% endblock %}

{% block page_info %}
	<br />
	<b style="font-size:large;">{{ data.method_source}} {{ data.source_citation }}</b>
	<span id="method-detail-link">
		Method details:&nbsp;
		<a class="popup" href="{{ data.link_to_full_method }}" 
			title="Link to method owner's website (will open in a new window)"
			target="_blank">
			Method owner's website
		</a>
	</span>
	<br />
{% endblock %}

{% block page-content %}
	{% if data %}
		<br />
		<table class="info-table">
			<tr><th>Title</th><td>{{ data.method_official_name }}</td></tr>
			<tr><th>Author</th><td>{{ data.source_citation.author }}</td></tr>
			<tr><th>Abstract/Summary Statement</th><td>{{ data.brief_method_summary|linebreaksbr }}</td></tr>
			<tr><th>Table of Contents</th><td>{{ data.source_citation.table_of_contents|linebreaksbr }}</td></tr>
			<tr><th>Citation</th><td>{{ data.source_citation.source_citation_name }}</td></tr>
			<tr><th>Source Organization</th><td>{{ data.method_source|default_if_none:"Not assigned" }}</td></tr>
			<tr><th>Source Organization Country</th><td>{{ data.source_citation.country }}</td></tr>
			<tr><th>Publication Year</th><td>{{ data.source_citation.publication_year }}</td></tr>
			<tr><th>Special notes</th><td>{{ data.notes }}</td></tr>			
			<tr><th>Item Type</th><td>{{ data.source_citation.item_type }}</td></tr>
			<tr>
				<th>Publication Source Type</th>
				<td>
					{% for t in data.source_citation.publicationsourcerel_set.all %}
						{{ t.source }}<br />
					{% endfor %}
					{% if data.source_citation.sponser_type_note %}
						Additional information:&nbsp;{{ data.source_citation.sponser_type_note }}
					{% endif %}
				</td>
			</tr>
			<tr><th>Purpose</th>
				<td>
					{% for t in data.statanalysisrel_set.all %}
						{{ t }}<br />
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>Design or Data Analysis Objectives</th>
				<td>
					{% for t in data.statdesignrel_set.all %}
						{{ t }}<br />
					{% endfor %}
				</td>
			</tr>	
			<tr><th>Complexity</th><td>{{ data.sam_complexity }}</td></tr>
			<tr>
				<th>Media Emphasized</th>
				<td>
					{% for t in data.statmediarel_set.all %}
						{{ t }}<br />
					{% endfor %}
					{% if data.media_emphasized_note %}
						Additional information:&nbsp;{{ data.media_emphasized_note }}
					{% endif %}
				</td>
			</tr>
			<tr><th>Subcategory</th><td>{{ data.media_subcategory }}</td></tr>
			<tr>
				<th>Special Topics</th>
				<td>
					{% for t in data.stattopicrel_set.all %}
						{{ t }}<br />
					{% endfor %}
				</td>
			</tr>
		</table>
	{% else %}
		<p>Source citation data not found.</p>
	{% endif %}
{% endblock %}