{% extends "base.html" %}

{% block title %}Update Statistical Methods{% endblock %}

{% page_info %}
	<br />
	{% include "sams/_sams_user_login.html" %}
	<br />
	<hr />
	<h2>Update Statistical Method</h2>
{% endblock %}


{% block page-content %}
	{% if methods %}
		<h3>List of statistical methods that can be edited</h3>
		<table class="data-table" style="width: 100%">
			<tr>
				<th></th><th>Source Abbreviation</th><th>Title</th>
			</tr>
			{% for method in methods %}
				<tr>
					<td><input type="button" value="Update" onclick="location.href={% url 'sams-update_method method.method_id' %};"></td>
					<td>{{ method.source_method_identifier }}</td>
					<td>{{ method.method_official_name }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<h3>You currently have no methods to update.</h3>
	{% endif %}
{% endblock %}